{% extends "Base.html" %}

{% block content%}
    <div class="content">
        <h1>Video Finder</h1>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="textContent">
                <label style="width: 49%"> Title</label>
                <label style="width: 49%"> Search Type</label>

                <br>

                <span class="effectWrapper" style="width: 49%">
                    <textarea rows="3" spellcheck="true" placeholder="Title " name="title"></textarea>
                    <span class="focus-border"></span>
                </span>

             <br>
                <span style="width: 49%">
                    <label class="radio-container" style="margin-left: 1%">"And" Search
                        <input type="radio" id="andSearch" name="searchType" value="and" checked>
                        <span class="radio-checkmark"></span>
                    </label>
                </span>
                <br>

                <span style="width: 49%; margin-left: 5% ">
                    <br>
                    <label class="radio-container" style="margin-left: 1%">"Or" Search
                        <input type="radio" id="orSearch" name="searchType" value="or">
                        <span class="radio-checkmark"></span>
                    </label>
                </span>

                <br><br>

                <label style="width: 49%"> Author</label>
                <label style="width: 49%"> Journal</label><br>
                <span class="effectWrapper" style="width: 49%">
                    <input type="text" name="author" placeholder="e.g. Afraz">
                    <span class="focus-border"></span>
                </span>

                <span class="effectWrapper" style="width: 49%">
                     <input type="text" name="journal" class="form-control" placeholder="e.g. Nature" list="journals">
                    <span class="focus-border"></span>
                </span>

                <datalist id="journals">
                    {% for journal in journals %}
                        <option value="{{ journal.name }}" label="{{ journal.name }} ({{ journal.frequency}})">
                    {% endfor %}
                </datalist>

                <br><br><br>

                <label style="width: 49%"> Topic</label>
                <label style="width: 49%"> Focus</label><br>

                <span class="effectWrapper" style="width: 49%">
                     <input type="text" name="topic" list="topics" placeholder="e.g. neuroscience">
                     <span class="focus-border"></span>
                </span>

                <datalist id="topics">
                    {% for topic in topics %}
                        <option value="{{ topic.text }}" label="{{ topic.text }} ({{ topic.frequency}})">
                    {% endfor %}
                </datalist>

                <span class="effectWrapper" style="width: 49%">
                    <input type="text" name="focus" list="focuses" class="form-control" placeholder="e.g. method">
                    <span class="focus-border"></span>
                </span>

                <datalist id="focuses">
                    {% for focus in focuses %}
                        <option value="{{ focus.text }}" label="{{ focus.text }} ({{ focus.frequency}})">
                    {% endfor %}
                </datalist>

                <br><br><br>

                <label style="width: 49%"> Year</label><br>
                <span class="effectWrapper" style="width: 49%">
                    <input type="number" name="yearFrom" class="form-control" placeholder="From">
                    <span class="focus-border"></span>
                </span>

                <span class="effectWrapper" style="width: 49%">
                    <input type="number" name="yearTo" class="form-control" placeholder="To" >
                    <span class="focus-border"></span>
                </span>

                <br><br><br>



                <input type="checkbox" name="PisA" style="margin-left: 5px; display: none">
                <span style="display: none">Publisher is the same as author</span>


                <br>
                <button type="submit" id="filterBtn">Search</button>
                <br><br>
            </div>
        </form>
    </div>

    <div class="rightbar">
        <h3>Notes</h3>
        <h4>"And" vs "Or" search</h4>
        <div class="textContent">
            If you check "And" search, only videos that have all the specified criteria will be in the results; however,
            if you check "Or" search, all the videos which have at least one of the specified criteria will be in the results.
        </div>

        <h4>Publisher is the same as author"(coming soon)</h4>
        <div class="textContent">
            If you check this option, only videos that made by the original author of the paper will be in the results.
        </div>
    </div>
{% endblock %}




