{% extends "Base.html" %}

{% block content%}
    <div class="content">
        {% if msgs %}
            {% for msg in msgs %}
                <li style="font-weight: bold">{{ msg }}</li>
            {% endfor %}
        {% endif %}

        {% if customUser %}
            <div class="profile-info">
                <span><input type="image" alt="" src={{ customUser.profile.picture}}></span>

                {% if customUser.username != user.username %}
                    <span>
                        {% if following == 1 %}
                            <img alt="unFollow" src="/static/images/Following.png"
                                onclick="return follow(this, 'user', '_', '{{ customUser.username }}')" data-toggle="tooltip" data-placement="right" title="Click to un-follow">
                        {% elif following == 0 %}
                            <img alt="follow" src="/static/images/Following_.png"
                                 onclick="return follow(this, 'user', '_', '{{ customUser.username }}')" data-toggle="tooltip" data-placement="right" title="Click to follow">
                        {% endif %}
                    </span>
                {% endif %}
                <br>
                <hr>

                <span>
                    <label>Username</label> <span style="float: right">{{ customUser.username }}</span><br>
                    <label>Member since </label><span style="float: right">{{ customUser.profile.joinDateTime|date:'d M Y' }}</span> <br>
                    <hr>
                    <label>Videos</label>
                    <span style="float: right" data-toggle="tooltip" data-placement="right" title="Received upvotes is shown in parentheses">
                        {{ customUser.profile.nVideos }} ({{ customUser.profile.nVideoUpVotesReceived }})
                    </span><br>
                    <label>comments</label>
                    <span style="float: right" data-toggle="tooltip" data-placement="right" title="Received upvotes is shown in parentheses">
                        {{ customUser.profile.nComments }} ({{ customUser.profile.nCommentUpVotesReceived }})
                    </span><br>
                    <hr>
                    <label>Followers</label> <span style="float: right"> {{ customUser.profile.nFollowers }}</span><br>
                    <label>Followees</label> <span style="float: right"> {{ customUser.profile.nFollowees }}</span><br>
                </span>
            </div><br>
        {% endif %}

        <!------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------->

        {% if customCategory %}
            <div class="profile-info">
                {% if categoryType == "Focus" %}
                    <input type="image" src="/static/images/Focus_.png" alt="" data-toggle="tooltip" data-placement="right" title="Focus">
                {% elif categoryType == "Topic" %}
                    <input type="image" src="/static/images/Topic_.png" alt="" data-toggle="tooltip" data-placement="right" title="Topic">
                {% elif categoryType == "Journal" %}
                    <input type="image"  src="/static/images/Journal_.png" alt="" data-toggle="tooltip" data-placement="right" title="Journal">
                {% elif categoryType == "Author" %}
                    <input type="image"  src="/static/images/Author.png" alt="" data-toggle="tooltip" data-placement="right" title="Author">
                {% endif %}


                {% if following == 1 %}
                    <img alt="unFollow" src="/static/images/Following.png"
                        onclick="return follow(this, '{{ categoryType }}', '{{ customCategoryTitle }}', '_')" data-toggle="tooltip" data-placement="right" title="Click to un-follow">
                {% elif following == 0 %}
                    <img alt="follow" src="/static/images/Following_.png"
                         onclick="return follow(this, '{{ categoryType }}','{{ customCategoryTitle }}', '_')" data-toggle="tooltip" data-placement="right" title="Click to follow">
                {% endif %}

                <br>
                <hr>

                <b>Title:</b> {{ customCategoryTitle }}<br>

                <hr>
                <label>Videos</label><span style="float: right">{{ customCategory.nVideos }}</span><br>
                <label>Followers</label><span style="float: right">{{ customCategory.nFollowers }}</span><br>

            </div>
            <br>
        {% endif %}
        <!------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------->
        {% if profiles %}
            <h1>{{ profilesTitle }}</h1>
            <div class="profile-gallery">
                {% for profile in profiles %}
                    <div class="profile-item">
                        <a href="?customUser={{ profile.user.username }}">
                            <img alt="" src="{{ profile.picture }}"><br>
                            <label data-toggle="tooltip" data-placement="right" title="{{ profile.user.username }}">
                                {{ profile.user.username }}
                            </label>
                        </a>
                    </div>
                {% endfor %}
            </div><br>
        {% endif %}
        <!------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------->
        {% if categories %}
            <h1>{{ categoryTitles }}</h1>
            <div class="profile-gallery">
                {% for category in categories %}
                    <div class="profile-item">
                        <a href="?customCategory={{ category.1 }}&type={{ category.0 }}">
                            {% if category.0  == "Focus" %}
                                <img alt="" src="/static/images/Focus_.png">
                            {% elif category.0 == "Topic" %}
                                <img alt="" src="/static/images/Topic_.png">
                            {% elif category.0 == "Journal" %}
                                <img alt="" src="/static/images/Journal_.png">
                            {% elif category.0 == "Author" %}
                                <img alt="" src="/static/images/Author.png">
                            {% endif %}
                            <br>
                            <label data-toggle="tooltip" data-placement="right" title="{{category.1}}">{{category.1}}</label>
                        </a>
                    </div>
                {% endfor %}
            </div><br>
        {% endif %}
        <!------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------->
        {% if videosList %}
            {% for videos in videosList %}
                <h1>{{ videos.0 }}</h1>
                <div class="video-gallery">
                    {% for video in videos.1 %}
                        <div class="video-item" id="{{ video.0.pk }}">
                            <div class="imageBox">
                                <img src='{{ video.0.thumbnail }}' class="thumbnailImage">
                                <div class="hoverImg">
                                    <a href="{% url 'index' %}?customCategory={{ video.0.journal.title }}&type=Journal"  data-toggle="tooltip" data-placement="right" title="Journal: {{ video.0.journal.title  }}">
                                        <img src="/static/images/Journal.png">
                                        {{ video.0.journal.title }}
                                    </a><br>

                                    <a href="{% url 'index' %}?customCategory={{ video.0.topic.title }}&type=Topic" data-toggle="tooltip" data-placement="right" title="Topic: {{ video.0.topic.title  }}" >
                                        <img src="/static/images/Topic.png">
                                        {{ video.0.topic.title }}
                                    </a><br>

                                    <a href="{% url 'index' %}?customCategory={{ video.0.focus.title }}&type=Focus" data-toggle="tooltip" data-placement="right" title="Focus: {{ video.0.focus.title  }}">
                                        <img src="/static/images/Focus.png">
                                        {{ video.0.focus.title }}
                                    </a>
                                </div>
                                <a href="{%  url 'playVideo' %}?videoPK={{ video.0.pk }}">
                                    <img src="/static/images/Play.png" class="hitPlayImage" data-toggle="tooltip" data-placement="right" title="Play Video">
                                </a>
                            </div>

                            <div class="video-item-info">
                                <span style="float: left;" data-toggle="tooltip" data-placement="right" title="Duration: {{ video.0.formatted_duration}}">
                                    <img src="/static/images/Timer.png">
                                    {{ video.0.formatted_duration}}
                                </span>

                                <span style="float: right;">
                                    {% if user.is_authenticated and videos.0 == "Watch History"%}
                                        <img alt="unWatchLater"
                                             src="/static/images/Delete.png"
                                             onclick="return deleteWatchHistory({{ video.0.pk }})"
                                             data-toggle="tooltip" data-placement="right" title="Remove from Watch History"
                                             style="cursor: pointer">
                                    {% endif %}

                                    {% if user.is_authenticated and videos.0 == "Upvoted Videos"%}
                                        <img alt="unWatchLater"
                                             src="/static/images/Delete.png"
                                             onclick="return unLike({{ video.0.pk }})"
                                             data-toggle="tooltip" data-placement="right" title="Take back your Upvote"
                                             style="cursor: pointer">
                                    {% endif %}

                                    {% if user.is_authenticated and videos.0 == "Watch Later"%}
                                        <img alt="unWatchLater"
                                             src="/static/images/Delete.png"
                                             onclick="return unWatchLater({{ video.0.pk }})"
                                             data-toggle="tooltip" data-placement="right" title="Remove from your Watch Later List"
                                             style="cursor: pointer">
                                    {% endif %}

                                    {% if user.is_authenticated and videos.0 == "My Videos"%}
                                        <a href="{% url 'editVideo' %}?videoPK={{ video.0.pk }}">
                                            <img type="image" src="/static/images/Edit.png"
                                                 data-toggle="tooltip" data-placement="right" title="Edit"
                                                 style="cursor: pointer">
                                        </a>
                                    {% endif %}
                                </span>

                                <span style="float: right;">
                                    {% if user.is_authenticated and videos.0 != "Watch Later"%}
                                        {% if video.1 %}
                                            <img alt="unWatchLater" src="/static/images/WatchLater.png"
                                                 onclick="return watchLater(this, {{ video.0.pk }})"
                                                 data-toggle="tooltip" data-placement="right" title="Watch Later"
                                                 style="cursor: pointer">
                                        {% else %}
                                            <img alt="watchLater" src="/static/images/Plus.png"
                                                 onclick="return watchLater(this, {{ video.0.pk }})"
                                                 data-toggle="tooltip" data-placement="right" title="Watch Later"
                                            style="cursor: pointer">
                                        {% endif %}
                                    {% endif %}
                                </span>

                                <span style="float: right;">{{ video.0.likes }}</span>
                                <span style="float: right;"><img src="/static/images/Like_.png" data-toggle="tooltip" data-placement="right" title="Upvotes"></span>

                                <span style="float: right;">{{ video.0.comments }}</span>
                                <span style="float: right;"><img src="/static/images/Comment_.png" data-toggle="tooltip" data-placement="right" title="Comments"></span>

                                <span style="float: right;">{{ video.0.views }}</span>
                                <span style="float: right;"><img src="/static/images/View_.png" data-toggle="tooltip" data-placement="right" title="Views"></span>

                                <label data-toggle="tooltip" data-placement="right" title="Title: {{ video.0.title }}">
                                    <a href="{%  url 'playVideo' %}?videoPK={{ video.0.pk }}" style="margin-left: 6px">{{ video.0.title }}</a>
                                </label>

                                <label data-toggle="tooltip" data-placement="right" title="Author: {{ video.0.author.lastName }} ({{ video.0.year }})">
                                    <a href="{% url 'index' %}?customCategory={{ video.0.author.title }}&type=Author">
                                        <img src="/static/images/Author.png">
                                        {{ video.0.author.lastName }} ({{ video.0.year }})
                                    </a>
                                </label>

                                {% if videos.0 != "My Videos" %}
                                    <a href="{% url 'index' %}?customUser={{ video.0.user.username }}" data-toggle="tooltip" data-placement="right" title="Uploaded by: {{ video.0.user.username }}">
                                        <img alt="" src="{{ video.0.user.profile.picture }}">
                                        {{ video.0.user.username }}
                                    </a>
                                    at {{ video.0.publishDate|time:'H:i'}} - {{ video.0.publishDate|date:'d M Y'}}
                                {% else %}
                                    Uploaded at {{ video.0.publishDate|time:'H:i'}} - {{ video.0.publishDate|date:'d M Y'}}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
        <!------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------->
    </div>
{% endblock %}

{% block scripts %}
<!------------------------------------------------------------------------------------->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!------------------------------------------------------------------------------------->
    <script>
        function unLike(videoPK)
        {
            document.getElementById(videoPK).remove();

            $.ajax({
              type: "GET",
              url:  '/ajax/unlike',
              data: {'videoPK': videoPK },
              dataType: 'json',

              success: function (data) {

              }
            });
        }
    </script>
<!------------------------------------------------------------------------------------->
    <script>
        function watchLater(element, videoPK)
        {
            $(element).removeAttr('onclick');

            if($(element).attr('alt') =='watchLater'){
                $(element).attr('alt','unWatchLater');
                $(element).attr('src','/static/images/WatchLater.png')
            }else{
                $(element).attr('alt','watchLater');
                $(element).attr('src','/static/images/Plus.png')
            }

            $.ajax({
              type: "GET",
              url: ($(element).attr('alt')=='watchLater')? '/ajax/unWatchLater' : '/ajax/watchLater',
              data: {'videoPK': videoPK },
              dataType: 'json',

              success: function (data) {
                  $(element).attr("onclick","watchLater(this,"+videoPK+")");
              }
            });
        }
    </script>
<!------------------------------------------------------------------------------------->
    <script>
        function deleteWatchHistory(videoPK)
        {
            document.getElementById(videoPK).remove();

            $.ajax({
              type: "GET",
              url:  '/ajax/deleteHistory',
              data: {'videoPK': videoPK },
              dataType: 'json',

              success: function (data) {
              }
            });
        }
    </script>
<!------------------------------------------------------------------------------------->
    <script>
        function unWatchLater(videoPK)
        {
            document.getElementById(videoPK).remove();

            $.ajax({
              type: "GET",
              url:  '/ajax/unWatchLater',
              data: {'videoPK': videoPK },
              dataType: 'json',

              success: function (data) {
              }
            });
        }
    </script>
<!------------------------------------------------------------------------------------->
    <script>
        function follow(element, followType, customCategory, username)
        {
            $(element).removeAttr('onclick');

            if($(element).attr('alt') === 'unFollow'){
                $(element).attr("src", "/static/images/Following_.png");
                $(element).attr("alt", "follow");
                $(element).attr("title","Click to follow");
            }else{
                $(element).attr("src", "/static/images/Following.png");
                $(element).attr("alt", "unFollow");
                $(element).attr("title","Click to un-follow");
            }

            $.ajax({
              type: "GET",
              url: ($(element).attr('alt') === 'follow')? '/ajax/unFollow' : '/ajax/follow',
              data: {
                  'followType': followType,
                  'username': username,
                  'customCategory': customCategory},
              dataType: 'json',

              success: function (data) {
                  if(followType === 'user'){
                      $(element).attr("onclick","return follow(this,\"user\",\"_\",\""+username+"\")");
                  }else{
                      $(element).attr("onclick","return follow(this,\""+followType+"\",\""+customCategory+"\",\"_\")");
                  }

              }
            });
        }
    </script>
<!------------------------------------------------------------------------------------->
{% endblock %}



