{% extends "Base.html" %}

{% block content%}

    <div class="content">
        <h1>What is Psitelly?</h1>
        <div class="textContent">
            <p>Psitelly is basically a video website like YouTube but specialized for scientific articles.
                Let’s say you want to further understand the “Methods” section of a scientific article,
                you go to Psitelly and search the article and you can find videos created by the author or other experts explaining the “Methods” section.
                <span id="dots" style="display: inline">...</span>
                <div id="more" style="display: none">
                    <p>
                        <a href="https://docs.google.com/document/d/1oE5tIvAMCzvtnFtx9TPyZYs290lvojkHjHP8RB8vUZY/edit" target="_blank">
                            <b>☉</b> A quick quide to features of Psitelly.
                        </a>
                        <br>
                        <a href="https://docs.google.com/document/d/1zNpqcffpTIE_VGCgQxNOGh53qSKXRDfy4i8DurXdUI4/edit" target="_blank">
                            <b>☉</b> A quick quide for Beta Testers.
                        </a>
                        <br><br>
                    </p>
                </div>
                <a  href="javascript:void(0);" id="read" onclick="readMore()"> Read more</a><br>
            </p>
        </div>
    </div>

    <div class="rightbar">
        <h3>Powered By</h3>
        <div class="textContent">
            <li>Mahdi Shafiei (qiisziilbash)</li>
            <ol style="list-style-type: circle; padding-bottom: 0;">
                <li style="margin-left:1em">Find me in <a href="https://www.linkedin.com/in/mahdishafiei0423/" target="_blank">Linkedin</a></li>
                <li style="margin-left:1em; padding-bottom: 0;">Find me in <a href="https://github.com/qiisziilbash" target="_blank">Github</a></li>
                <li style="margin-left:1em; padding-bottom: 0;"> <a href="https://qiisziilbash.github.io/" target="_blank">Portfolio</a></li>
            </ol>
            <li>Django</li>
        </div>

        <h3>My Power Is Powered By</h3>
        <div class="textContent"><li>Ruth Campos</li></div>
        
        <h3>Donation</h3>
        <ul>
            <a href="{% url 'donate' %}"><input type="button" value="Donate to Psitelly"></a><br>
        </ul>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        function readMore() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("read");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "inline";
            }
        }
    </script>
{% endblock %}

