{% extends "Base.html" %}

{% block content%}
    <div class="content">
        {% if msgs %}
            {% for msg in msgs %}
                <li style="font-weight: bold">{{ msg }}</li>
            {% endfor %}
        {% endif %}
        <h1>Contact Us</h1>
        <div class="textContent">
            <form method="POST" enctype="multipart/form-data" autocomplete="off" id="contactForm">
                {% csrf_token %}
                <label>Subject</label><br>
                <span class="effectWrapper">
                    <input list="subjects" name="subject" id="subjectID" required>
                    <span class="focus-border"></span>
                </span>
                <br><br>


                <datalist id="subjects">
                    <option value="Report a problem">
                    <option value="An idea">
                    <option value="Love letter">
                    <option value="Miscellaneous">
                </datalist>
                <br>


                <label>Email (Optional)</label><br>
                <span class="effectWrapper">
                    <input name="email" id="emailID">
                    <span class="focus-border"></span>
                </span>
                <br><br><br>


                <label for="contentID">Content </label><br><br>
                <span class="effectWrapper">
                    <textarea rows="4" spellcheck="true" id="contentID" name="content" required></textarea>
                    <span class="focus-border"></span>
                </span>
                <br><br><br><br><br><br><br>


                <label>Screenshots (Optional)</label><br><br>
                <span class="effectWrapper">
                    <input type="file" name="picture1" accept="image/*" >
                    <span class="focus-border"></span>
                </span>


                <span class="effectWrapper">
                    <input type="file" name="picture2" accept="image/*" >
                    <span class="focus-border"></span>
                </span>

                <span class="effectWrapper">
                    <input type="file" name="picture3" accept="image/*" >
                    <span class="focus-border"></span>
                </span>


                <br><br><br><br><br><br>
                <p class="g-recaptcha" data-sitekey="6LdxtsUUAAAAABThyLECKr75gQLM5wJrxhLgilTY"></p>
                <br><br>

                <button type="submit">Send</button><br><br><br>
            </form>
        </div>
    </div>

    <div class="rightbar">
        <h3>Instructions</h3>
        <p>If you have any technical problem to contact us, email directly to this address: psitelly@gmail.com</p>
    </div>

{% endblock %}

{% block scripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        $("#contactForm").submit(function(event) {
         

           var recaptcha = $("#g-recaptcha-response").val();
           if (recaptcha === "") {
              event.preventDefault();
              alert("Please check the recaptcha");
           }
        });
    </script>

{% endblock %}






