{% extends "Base.html" %}


{% block content%}
    <div class="content">
        <h1>Contact Us</h1>

        <form method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <div class="contactForm">

                <span style="font-weight: bolder">Subject</span>
                <input list="subjects" name="subject" id="subjectID" required>

                <br>

                <datalist id="subjects">
                    <option value="Report a problem">
                    <option value="An idea">
                    <option value="Love letter">
                    <option value="Miscellaneous">
                </datalist>


                <span style="font-weight: bolder">Email (Optional)</span>
                <input name="email" id="emailID">


                <br>
                <span style="font-weight: bolder">Content </span>
                <textarea rows="4" spellcheck="true" id="contentID" name="content" required></textarea>
                <br>


                <span style="font-weight: bolder; width: 50%">Upload up to 3 pictures (Optional)</span>

                <input type="file" name="picture1" accept="image/*" style="background-color: white"><br>
                <input type="file" name="picture2" accept="image/*" style="background-color: white"><br>
                <input type="file" name="picture3" accept="image/*" style="background-color: white"><br>


                <p class="g-recaptcha" data-sitekey="6Lcfi6MUAAAAAHKQMHR7-ObJr-DXrVcScuWbN59e"></p>
                <br><br>



                <span style="float:right;">
                    <button type="submit">Submit</button>
                </span>

            </div>
        </form>
        <br>
    </div>

    <div class="rightbar">
        <h3>Instructions</h3>
        <p>
            If you have any technical problem to contact us, email directly to this address: psitelly@gmail.com
        </p>
    </div>


{% endblock %}

{% block scripts %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}






