{% extends "Base.html" %}

{% block content%}
    <div class="content">
        {% if msgs %}
            {% for msg in msgs %}
                <li style="font-weight: bold">{{ msg }}</li>
            {% endfor %}
        {% endif %}
        <h1>Contact us</h1>
        <div class="textContent">
            <form id="contactUsForm" method="POST" enctype="multipart/form-data" autocomplete="off" >
                {% csrf_token %}
                <label>Subject *</label><br>
                <span class="effectWrapper">
                    <input list="subjects" name="subject" id="subjectID" required>
                    <span class="focus-border"></span>
                </span>

                <datalist id="subjects">
                    <option value="Report a problem">
                    <option value="An idea">
                    <option value="Love letter">
                    <option value="Terms of Service">
                    <option value="Miscellaneous">
                </datalist>
                <br><br><br>


                <label>Email (Optional)</label><br>
                <span class="effectWrapper">
                    <input name="email" id="emailID">
                    <span class="focus-border"></span>
                </span>
                <br><br><br>


                <label for="contentID">Content *</label><br><br>
                <span class="effectWrapper">
                    <textarea rows="4" spellcheck="true" id="contentID" name="content" required></textarea>
                    <span class="focus-border"></span>
                </span>

                <br><br><br><br><br><br><br>


                <label>Screenshots (Optional)</label><br><br>
                <span class="effectWrapper">
                    <input type="file" name="picture1" accept="image/*" >
                    <span class="focus-border"></span>
                </span>


                <span class="effectWrapper">
                    <input type="file" name="picture2" accept="image/*" >
                    <span class="focus-border"></span>
                </span>

                <span class="effectWrapper">
                    <input type="file" name="picture3" accept="image/*" >
                    <span class="focus-border"></span>
                </span>

                <br><br><br><br><br><br>

                <p class="g-recaptcha" data-sitekey="6LdxtsUUAAAAABThyLECKr75gQLM5wJrxhLgilTY"></p>

                <br><br>



                <label>
                    A random question to stop the smart bots: what number you will get if you stack two circles on top of each other?
                </label><br><br>
                <span class="effectWrapper">
                    <input type="text"  id="smartQ">
                    <span class="focus-border"></span>
                </span>
                <br><br><br><br>

                <button id="ahmad" type="submit" onclick="return checkCaptcha()">Send</button>
                <br><br><br>
            </form>
        </div>
    </div>

    <div class="rightbar">
        <h3>Notes</h3>
        <div class="textContent">
            If you have any technical problem to contact us, email directly to this address: psitelly [at] gmail [dot] com
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
    function checkCaptcha() {

        if (document.getElementById('smartQ').value === "8") {

        } else if( document.getElementById('smartQ').value === "eight") {

        } else if(document.getElementById('smartQ').value === "Eight") {

        }else{
            alert("Please check your answer for the last question and try again.");
            return false;
        }

        if (grecaptcha.getResponse() === '') {
          alert('Please check the recaptcha');
          return false;
        }
    }
    </script>
{% endblock %}






