{% extends "Base.html" %}

{% block content%}
    <div class="content">
        <h1>What is Psitelly?</h1>
        <div class="textContent">
            <p>Psitelly is basically a video website like YouTube but specialized for scientific articles.
                Let’s say you want to further understand the “Methods” section of a scientific article,
                you go to Psitelly and search the article and you can find videos created by the author or other experts explaining the “Methods” section.
                <span id="dots" style="display: inline">...</span>
                <div id="more" style="display: none">
                    <p>
                        <a href="https://docs.google.com/document/d/1oE5tIvAMCzvtnFtx9TPyZYs290lvojkHjHP8RB8vUZY/edit" target="_blank">
                            <b>☉</b> A quick quide to features of Psitelly.
                        </a>
                        <br>
                        <a href="https://docs.google.com/document/d/1zNpqcffpTIE_VGCgQxNOGh53qSKXRDfy4i8DurXdUI4/edit" target="_blank">
                            <b>☉</b> A quick quide for Beta Testers.
                        </a>
                        <br><br>
                    </p>
                </div>
                <a  href="javascript:void(0);" id="read" onclick="readMore()"> Read more</a><br>
            </p>
        </div>

        <h1>Donate Psitelly</h1>
        <h2>Why?</h2>
        <div class="textContent">
            <p>
                Psitelly aims to reimagine the way we share research, to streamline literature review,
                and to make the science universally accessible. It is a hopeful project, but it needs wings to get off
                the ground. Anything helps! Here’s how:
            </p>
        </div>

        <h2>How?</h2>

        <div class="textContent">
            <p>
                <h3> <u> Be with us</u></h3>
                We always need support and feedback
                <ul>
                    <li> <a href="{% url 'register' %}">Become a member</a> </li>
                    <li> <a href="{% url 'upload' %}">Upload a video</a></li>
                    <li> Tell a friend about Psitelly</li>
                    <li> <a href="{% url 'contact' %}">Tell us your ideas to improve the Psitelly</a></li>
                    <li> <a href="{% url 'contact' %}">Report a problem</a> </li>
                </ul>
            </p>
            <hr>

            <h3> <u>Love</u> </h3>
            We need emotional support
            <ul>
                <li><a href="{% url 'contact' %}"> Send us love letters </a></li>
            </ul>
            <hr>

            <h3> <u>Dough</u> </h3>
            We need dough to maintain Psitelly
            <ul>
                <li>Bitcoin: 19zcpQ1Xdjgb18kbyr7oxY6MCYCQ38jmK3</li>
                <li>Paypal: <a href="https://www.paypal.me/psitelly" target="_blank">paypal.me/psitelly</a></li>
                <li>Venmo: <a href="https://venmo.com/psitelly" target="_blank">@psitelly</a></li>
                <li>Cash: <a href="https://cash.app/$psitelly" target="_blank">$psitelly</a></li>


            </ul>
        </div>



    </div>

    <div class="rightbar">
        <h3>Powered By</h3>
        <div class="textContent">
            <li>Mahdi Shafiei (qiisziilbash)</li>
            <ol style="list-style-type: circle; padding-bottom: 0;">
                <li style="margin-left:1em">Find me in <a href="https://www.linkedin.com/in/mahdishafiei0423/" target="_blank">Linkedin</a></li>
                <li style="margin-left:1em; padding-bottom: 0;">Find me in <a href="https://github.com/qiisziilbash" target="_blank">Github</a></li>
                <li style="margin-left:1em; padding-bottom: 0;"> <a href="https://qiisziilbash.github.io/" target="_blank">Portfolio</a></li>
            </ol>
            <li>Django</li>
        </div>

        <h3>My Power Is Powered By</h3>
        <div class="textContent"><li>Ruth Campos</li></div>

        <h3>Our Donors</h3>
        <div class="textContent">
            <li>Utah State University</li>
            <li>Nate Hardy</li>
        </div>

            <h2> Special Thanks To</h2>
        <div class="textContent">

                <li> Mehran Torki, who helped to resolve technical issues</li><br>
                <li> <a href="https://psychology.usu.edu/people/department-faculty/renee_galliher" target="_blank">Dr. Renee Galliher,</a>
                    who kindly accepted to help me with this project.</li><br>
                <li> <a href="http://www.usu.edu/" target="_blank">Utah State University,</a>
                    who kindly offered their server to host Psitelly </li><br>
                <li> All who supported me to start and continue this project </li>
        </div>


    </div>
{% endblock %}

{% block scripts %}
    <script>
        function readMore() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("read");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "inline";
            }
        }
    </script>
{% endblock %}