{% extends "Base.html" %}


{% block content%}

    <div class="content">

    <div id="chartdiv"></div>
    Powered by amCharts

    </div>

    <div class="rightbar">
        <h3>General</h3>
        <ul>
            <a href="{% url 'tagCloud' %}?type=general"><input type="button" value="Popular keywords at Psitelly"></a><br>
        </ul>
        <h3>Popular keywords by categories</h3>
        <ul>
            <a href="{% url 'tagCloud' %}?type=journals"><input type="button" value="Popular Journals"></a><br>
            <a href="{% url 'tagCloud' %}?type=topics"><input type="button" value="Popular Topics"></a><br>
            <a href="{% url 'tagCloud' %}?type=focuses"><input type="button" value="Popular Focuses"></a><br>
            <a href="{% url 'tagCloud' %}?type=authors"><input type="button" value="Popular Authors"></a><br>
        </ul>
    </div>

{% endblock %}

{% block scripts %}
    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Chart code -->
    <script>
    am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
    chart.fontFamily = "Courier New";
    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.randomness = .1;
    series.rotationThreshold = 0.5;

    $.ajax({
      type: "GET",
      url:'/ajax/getTags/',
      data: {'type': "{{tag_cloud_ype}}" },
      dataType: 'json',

      success: function (data) {
        series.data = data;
      }
    });


    series.dataFields.word = "tag";
    series.dataFields.value = "count";

    series.heatRules.push({
     "target": series.labels.template,
     "property": "fill",
     "min": am4core.color("#0000CC"),
     "max": am4core.color("#b7284f"),
     "dataField": "value"
    });

    series.labels.template.url = "http://psitelly.com/?search={word}";
    series.labels.template.urlTarget = "_blank";
    series.labels.template.tooltipText = "{word}: {value}";

    var hoverState = series.labels.template.states.create("hover");
    hoverState.properties.fill = am4core.color("#FF0000");


    var title = chart.titles.create();
    if("{{ tag_cloud_ype }}" === "general"){
        title.text = "Most Popular Keywords at Psitelly";
    }else if("{{ tag_cloud_ype }}" === "journals"){
        title.text = "Most Popular Journals at Psitelly";
    }else if("{{ tag_cloud_ype }}" === "topics"){
        title.text = "Most Popular Topics at Psitelly";
    }else if("{{ tag_cloud_ype }}" === "authors"){
        title.text = "Most Popular Authors at Psitelly";
    }else{
        title.text = "Most Popular Focuses at Psitelly";
    }

    title.fontSize = 20;
    title.fontWeight = "800";

    });
    </script>
{% endblock %}






