{% extends "Base.html" %}
{% block head %}
        <link rel="stylesheet" href="https://cdn.plyr.io/3.5.3/plyr.css" />
         <script src="/static/js/http_cdn.plyr.io_3.5.3_plyr.js"></script>
{% endblock %}


{% block content%}

    <div class="content">



        <h1>Terms of Service</h1>
        <div class="textContent">
            <h3>Who can use Psitelly</h3>
            <p>
                Everyone who agrees to these terms regardless of their age, sex, color, nationality, or anything that one has not chosen it freely.
            </p>

            <h3>User Privacy</h3>
            <p>
                <b>☉</b> Any user information that is not publicly accessible in Psitelly will not be used or shared by any company, individual, or identity.<br>
                <b>☉</b> User private information only will be used by Psitelly just to provide service to the users.<br>
                <b>☉</b> Users can access or delete their information from Psitelly any time.<br>
            </p>

            <h3>Inappropriate Contents</h3>
            <p>
                <b>☉</b> Any content that contains materials which you do not have permission to use.<br>
                <b>☉</b> Any content that evokes hatred or violence.<br>
                <b>☉</b> Any content that discriminates people based on the factors that they have not chosen freely.<br>
                <b>☉</b> Any content that is irrelevant to the purpose of Psitelly which is "Making the science more accessible" including ads, nudity, and so on.<br>
                <b>☉</b> Any user profile that gets reported for uploading above contents more than 2 times.<br>
            </p>

            <h3>User Conduct</h3>
            <p>
                <b>☉</b> Users should not upload any inappropriate contents to Psitelly.<br>
            </p>

            <h3>Disclaimers</h3>
            <p>
                <b>☉</b> We will remove inappropriate contents solely based on user reports.
                Thus, if we do not receive any complaints for the contents, they will continue to be in the Psitelly; however, this does not mean
                that we believe anything that exists in Psitelly is appropriate.
                If you believe that any content in Psitelly is inappropriate, please <a href="{% url 'contact' %}">report</a> it and we will take the action.<br>
                <b>☉</b> Users, not Psitelly, are responsible for the contents that they upload in Psitelly.<br>
                <b>☉</b> These terms might get updated in the future. We will notify our users of any change in advance.

            </p>

            <br>

        <br>

        </div>

        <hr>
        This is a test
        <br>

            <div>

            <video id="playerr" controls  playsinline >
                <source src="{{ video.videoFile360 }}" type="video/mp4" size="360">
                <source src="{{ video.videoFile480 }}" type="video/mp4" size="480">
                <source src="{{ video.videoFile720 }}" type="video/mp4" size="720">
             </video>

    </div>

    </div>

    <div class="rightbar">

        <h3>Related Links</h3>
        <ul>
            <a href="{% url 'contact' %}"><input type="button" value='Do you have any question about "Terms of Service"?'></a><br>
        </ul>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        const player = new Plyr('#playerr');
    </script>
{% endblock %}
