{% extends "Base.html" %}

{% block content%}
    <div class="content">
        {% if msgs %}
            {% for msg in msgs %}
                <li style="font-weight: bold">{{ msg }}</li>
            {% endfor %}
            <li style="font-weight: bold"><a href="{% url 'profile' %}"> Back to your profile</a></li><br><br>
        {% endif %}

        {% if user.is_authenticated %}
            <form enctype="multipart/form-data" method="POST" action="{% url 'editProfile' %}">
                {% csrf_token %}
                <img class="profilePic" alt="" src={{ user.profile.picture }}><br><br>

                <div class="uploadForm">
                    <span>
                        <label>Profile Picture</label>
                        <span class="effectWrapper">
                            <input type="file" name="profilePicture" accept="image/png, image/jpeg" >
                            <span class="focus-border"></span>
                        </span>
                        <br><br><br>
                    </span>

                    <br>

                    <span>
                        <label>Username</label>
                        <span class="effectWrapper">
                            <input type="text" id="usernameText" name="username"
                                   placeholder="4 Characters at least" required pattern=".{4,100}" value={{ user.username }}>
                            <span class="focus-border"></span>
                        </span>
                        <br><br><br>
                    </span>

                    <span>
                        <label>Email</label>
                        <span class="effectWrapper">
                            <input type="email" id="emailText" name="email" pattern=".{,100}" required value={{ user.email }}>
                            <span class="focus-border"></span>
                        </span>
                        <br><br><br>
                    </span>

                    <span>
                        <label> Security Question</label><br>
                        <select id="secQuestionText" name="secQuestion" required>
                            <option value="What is your security phrase?">What is your security phrase?</option>
                            <option value="Who was your favorite childhood hero?">Who was your favorite childhood hero?</option>
                            <option value="Who was your first kiss?">Who was your first kiss?</option>
                            <option value="Where were you when you had your first kiss?">Where were you when you had your first kiss?</option>
                        </select>
                        <br><br><br>
                    </span>

                    <span>
                        <label>Security Answer</label>
                        <span class="effectWrapper">
                            <input type="text" id="secAnswerText" name="secAnswer" pattern=".{,100}" required value={{ user.profile.secAnswer }}>
                            <span class="focus-border"></span>
                        </span>
                        <br><br><br>
                    </span>

                    <span>
                        <label for="newPass1Text">
                            <span style="font-weight: bolder">New Password</span style="font-weight: bolder"><br>
                            <span style="font-size: small">Leave empty, if you don't want to change your password</span>
                        </label><br>
                        <span class="effectWrapper">
                            <input type="password" id="newPass1Text" name="newPass1" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{4,}$">
                            <span class="focus-border"></span>
                        </span>
                        <br><br>
                    </span>

                    <span>
                        <label for="newPass2Text">
                            <span style="font-weight: bolder">Confirm New Password</span><br>
                            <span style="font-size: small">Leave empty, if you don't want to change your password</span>
                        </label><br>
                        <span class="effectWrapper">
                            <input type="password" id="newPass2Text" name="newPass2" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{4,}$">
                            <span class="focus-border"></span>
                        </span>
                        <br><br>
                    </span>

                    <span><h3><u>Notifications</u></h3></span><br>

                    <span>
                        <b>When my followees upload a video:</b><br>
                        {% if user.profile.notifyUploads and user.profile.emailUploads %}
                            <input type="checkbox" name="notifyUploads" checked> Notify me here<br>
                            <input type="checkbox" name="emailUploads" checked> Notify me through email<br>
                        {% elif user.profile.notifyUploads %}
                            <input type="checkbox" name="notifyUploads" checked> Notify me here<br>
                            <input type="checkbox" name="emailUploads"> Notify me through email<br>
                        {% elif user.profile.emailUploads %}
                            <input type="checkbox" name="notifyUploads"> Notify me here<br>
                            <input type="checkbox" name="emailUploads"checked> Notify me through email<br>
                        {% else %}
                            <input type="checkbox" name="notifyUploads"> Notify me here<br>
                            <input type="checkbox" name="emailUploads"> Notify me through email<br>
                        {% endif %}
                        <br><br>
                    </span>

                    <span>
                        <b>When someone comment on my videos:</b><br>
                        {% if user.profile.notifyComments and user.profile.emailComments %}
                            <input type="checkbox" name="notifyComments" checked> Notify me here<br>
                            <input type="checkbox" name="emailComments" checked> Notify me through email<br>
                        {% elif user.profile.notifyComments %}
                            <input type="checkbox" name="notifyComments" checked> Notify me here<br>
                            <input type="checkbox" name="emailComments" > Notify me through email<br>
                        {% elif user.profile.emailComments %}
                            <input type="checkbox" name="notifyComments" > Notify me here<br>
                            <input type="checkbox" name="emailComments" checked> Notify me through email<br>
                        {% else %}
                            <input type="checkbox" name="notifyComments" > Notify me here<br>
                            <input type="checkbox" name="emailComments" > Notify me through email<br>
                        {% endif %}
                        <br><br>
                    </span>

                    <span>
                        <b>When someone starts to follow me:</b><br>
                        {% if user.profile.notifyFollows and user.profile.emailFollows %}
                            <input type="checkbox" name="notifyFollows" checked> Notify me here<br>
                            <input type="checkbox" name="emailFollows" checked> Notify me through email<br>
                        {% elif user.profile.notifyFollows %}
                            <input type="checkbox" name="notifyFollows" checked> Notify me here<br>
                            <input type="checkbox" name="emailFollows" > Notify me through email<br>
                        {% elif user.profile.emailFollows %}
                            <input type="checkbox" name="notifyFollows" > Notify me here<br>
                            <input type="checkbox" name="emailFollows"  checked> Notify me through email<br>
                        {% else %}
                            <input type="checkbox" name="notifyFollows" > Notify me here<br>
                            <input type="checkbox" name="emailFollows" > Notify me through email<br>
                        {% endif %}
                        <br><br>
                    </span>


                    <span>
                        <b>When someone mentions me on a post or comment:</b><br>
                        {% if user.profile.notifyMentions and user.profile.emailMentions %}
                           <input type="checkbox" name="notifyMentions"  checked> Notify me here<br>
                            <input type="checkbox" name="emailMentions"  checked> Notify me through email<br>
                        {% elif user.profile.notifyMentions %}
                            <input type="checkbox" name="notifyMentions"  checked> Notify me here<br>
                            <input type="checkbox" name="emailMentions"  > Notify me through email<br>
                        {% elif user.profile.emailMentions %}
                            <input type="checkbox" name="notifyMentions" > Notify me here<br>
                            <input type="checkbox" name="emailMentions" checked> Notify me through email<br>
                        {% else %}
                            <input type="checkbox" name="notifyMentions" > Notify me here<br>
                            <input type="checkbox" name="emailMentions" > Notify me through email<br>
                        {% endif %}
                        <br><br>
                    </span>

                    <br>

                    <span>
                        <button type="submit" name="save">Save</button>
                        <button type="submit" name="cancel" formnovalidate>Cancel and Back to Profile</button><br><br>
                    </span>
                </div>
            </form>
        {% else %}
            <span style="font-weight: bold">
                You are not logged in yet. Please <a href="{% url 'register' %}"> Log in </a> first.
            </span>
        {% endif %}
    </div>

    <div class="rightbar">
        {% if user.is_authenticated %}


            <h3>Notes</h3>
            <div class="textContent">
                <li>Username is case-sensitive</li>
                <li>Username should be at least 4 characters</li>
                <hr>
                <li>Password should be at least 4 characters</li>
                <li>Password should have at least 1 uppercase</li>
                <li>Password should have at least 1 lowercase</li>
                <li>Password should have at least 1 number</li>
            </div>
        {% else %}
            <h3>Related Links</h3>
            <ul>
                <a href="{% url 'login' %}"><input type="button" value="Log in"></a><br>
                <a href="{% url 'register' %}"><input type="button" value="Not a member yet?"></a><br>
                <a href="{% url 'forgot' %}"><input type="button" value="Forgot your password?"></a><br>
                <a href="{% url 'verifyAccount' %}"><input type="button" value="Registered but not verified your email?"></a><br>
                <a href="{% url 'contact' %}"><input type="button" value="Do you have any technical problem?"></a><br>
            </ul>
        {% endif %}
    </div>
{% endblock %}



