{% extends "Base.html" %}

{% block content%}
    <div class="content">
        {% if msgs %}
            {% for msg in msgs %}
                <li style="font-weight: bold">{{ msg }}</li>
            {% endfor %}
            <li style="font-weight: bold"><a href="{% url 'profile' %}"> Back to your profile</a></li><br><br>
        {% endif %}

        {% if user.is_authenticated %}
            <form enctype="multipart/form-data" method="POST" action="{% url 'editProfile' %}">
                {% csrf_token %}
                <img class="profile-picture" alt="" src={{ user.profile.picture }}><br><br>

                <div class="textContent">

                    <label style="width: 49%">Profile Picture</label><br>
                    <span class="effectWrapper" style="width: 49%">
                        <input type="file" name="profilePicture" accept="image/png, image/jpeg" >
                        <span class="focus-border"></span>
                    </span>
                    <br><br><br>

                    <label style="width: 49%">Username</label>
                    <label style="width: 49%">Email</label>
                    <span class="effectWrapper" style="width: 49%">
                        <input type="text" id="usernameText" name="username"
                               placeholder="4 Characters at least" required pattern=".{4,100}" value={{ user.username }}>
                        <span class="focus-border"></span>
                    </span>

                    <span class="effectWrapper" style="width: 49%">
                        <input type="email" id="emailText" name="email" pattern=".{,100}" required value={{ user.email }}>
                        <span class="focus-border"></span>
                    </span>
                    <br><br><br><br>


                    <label style="width: 49%">Security Question</label>
                    <label style="width: 49%">Security Answer</label>

                    <span class="effectWrapper" style="width: 49%;">
                        <select id="secQuestionText" name="secQuestion" required>
                            <option value="What is your security phrase?">What is your security phrase?</option>
                            <option value="Who was your favorite childhood hero?">Who was your favorite childhood hero?</option>
                            <option value="Who was your first kiss?">Who was your first kiss?</option>
                            <option value="Where were you when you had your first kiss?">Where were you when you had your first kiss?</option>
                        </select>
                        <span class="focus-border"></span>
                    </span>


                    <span class="effectWrapper" style="width: 49%;">
                        <input type="text" id="secAnswerText" name="secAnswer" pattern=".{,100}" required value={{ user.profile.secAnswer }}>
                        <span class="focus-border"></span>
                    </span>

                    <br><br><br><br>


                    <label style="width: 49%">New Password</label>
                    <label style="width: 49%">Confirm New Password</label>

                    <label style="width: 45%; font-size: small; font-weight: normal">Leave empty, if you don't want to change your password</label>
                    <label style="width: 45%; margin-left: 4%; font-size: small; font-weight: normal">Leave empty, if you don't want to change your password</label>

                    <span class="effectWrapper" style="width: 49%">
                        <input type="password" id="newPass1Text" name="newPass1"
                               class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{4,}$">
                        <span class="focus-border"></span>
                    </span>

                    <span class="effectWrapper" style="width: 49%">
                        <input type="password" id="newPass2Text" name="newPass2" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{4,}$">
                        <span class="focus-border"></span>
                    </span>
                    <br><br><br><br>


                    <h3><u>Notifications</u></h3>


                    <label style="width: 45%">When my followees upload a video</label>
                    <label style="width: 45%; margin-left: 4%">When someone comment on my videos</label>

                    <span class="effectWrapper" style="width: 45%; margin-left: 1%">
                        <br>
                        {% if user.profile.notifyUploads %}
                             <label class="check-container"> Notify me here
                              <input type="checkbox" name="notifyUploads" checked>
                              <span class="check-checkmark"></span>
                            </label>
                        {% else %}
                             <label class="check-container"> Notify me here
                              <input type="checkbox" name="notifyUploads">
                              <span class="check-checkmark"></span>
                            </label>
                        {% endif %}
                    </span>

                    <span class="effectWrapper" style="width: 45%; margin-left: 4%">
                        <br>
                        {% if user.profile.notifyComments %}
                            <label class="check-container">Notify me here
                              <input type="checkbox" name="notifyComments" checked>
                              <span class="check-checkmark"></span>
                            </label>
                        {% else %}
                            <label class="check-container">Notify me here
                              <input type="checkbox" name="notifyComments">
                              <span class="check-checkmark"></span>
                            </label>
                        {% endif %}
                    </span>

                    <br><br>

                    <span class="effectWrapper" style="width: 45%;margin-left: 1%">
                        <br>
                        {% if user.profile.emailUploads %}
                            <label class="check-container">Notify me through email
                              <input type="checkbox" name="emailUploads" checked>
                              <span class="check-checkmark"></span>
                            </label>
                        {% else %}
                            <label class="check-container">Notify me through email
                              <input type="checkbox" name="emailUploads">
                              <span class="check-checkmark"></span>
                            </label>
                        {% endif %}
                    </span>

                    <span class="effectWrapper" style="width: 45%;margin-left: 4%">
                        <br>
                        {% if user.profile.emailComments %}
                            <label class="check-container">Notify me through email
                              <input type="checkbox" name="emailComments" checked>
                              <span class="check-checkmark"></span>
                            </label>
                        {% else  %}
                            <label class="check-container">Notify me through email
                              <input type="checkbox" name="emailComments" >
                              <span class="check-checkmark"></span>
                            </label>
                        {% endif %}
                    </span>



                    <br><br><br><br><br>


                    <label style="width: 45%">When someone starts to follow me</label>
                    <label style="width: 45%; margin-left: 4%">When someone mentions me on a post or comment</label>

                    <span class="effectWrapper" style="width: 45%; margin-left: 1%">
                        <br>
                        {% if user.profile.notifyFollows %}
                             <label class="check-container"> Notify me here
                              <input type="checkbox" name="notifyFollows" checked>
                              <span class="check-checkmark"></span>
                            </label>
                        {% else %}
                             <label class="check-container"> Notify me here
                              <input type="checkbox" name="notifyFollows">
                              <span class="check-checkmark"></span>
                            </label>
                        {% endif %}
                    </span>

                    <span class="effectWrapper" style="width: 45%; margin-left: 4%">
                        <br>
                        {% if user.profile.notifyMentions %}
                            <label class="check-container">Notify me here
                              <input type="checkbox" name="notifyMentions" checked>
                              <span class="check-checkmark"></span>
                            </label>
                        {% else %}
                            <label class="check-container">Notify me here
                              <input type="checkbox" name="notifyMentions">
                              <span class="check-checkmark"></span>
                            </label>
                        {% endif %}
                    </span>

                    <br><br>

                    <span class="effectWrapper" style="width: 45%;margin-left: 1%">
                        <br>
                        {% if user.profile.emailFollows%}
                            <label class="check-container">Notify me through email
                              <input type="checkbox" name="emailFollows" checked>
                              <span class="check-checkmark"></span>
                            </label>
                        {% else %}
                            <label class="check-container">Notify me through email
                              <input type="checkbox" name="emailFollows">
                              <span class="check-checkmark"></span>
                            </label>
                        {% endif %}
                    </span>

                    <span class="effectWrapper" style="width: 45%;margin-left: 4%">
                        <br>
                        {% if user.profile.emailMentions %}
                            <label class="check-container">Notify me through email
                              <input type="checkbox" name="emailMentions" checked>
                              <span class="check-checkmark"></span>
                            </label>
                        {% else  %}
                            <label class="check-container">Notify me through email
                              <input type="checkbox" name="emailMentions" >
                              <span class="check-checkmark"></span>
                            </label>
                        {% endif %}
                    </span>

                    <br><br><br><br><br>

                    <button type="submit" name="save">Save</button>
                    <button type="submit" name="cancel" formnovalidate>Cancel</button>
                    <br><br>
                </div>
            </form>
        {% else %}
            <span style="font-weight: bold">
                You are not logged in yet. Please <a href="{% url 'register' %}"> Log in </a> first.
            </span>
        {% endif %}
    </div>

    <div class="rightbar">
        {% if user.is_authenticated %}
            <h3>Notes</h3>
            <div class="textContent">
                <li>Username is case-sensitive</li>
                <li>Username should be at least 4 characters</li>
                <hr>
                <li>Password should be at least 4 characters</li>
                <li>Password should have at least 1 uppercase</li>
                <li>Password should have at least 1 lowercase</li>
                <li>Password should have at least 1 number</li>
            </div>
        {% else %}
            <h3>Related Links</h3>
            <ul>
                <a href="{% url 'login' %}"><input type="button" value="Log in"></a><br>
                <a href="{% url 'register' %}"><input type="button" value="Not a member yet?"></a><br>
                <a href="{% url 'forgot' %}"><input type="button" value="Forgot your password?"></a><br>
                <a href="{% url 'verifyAccount' %}"><input type="button" value="Registered but not verified your email?"></a><br>
                <a href="{% url 'contact' %}"><input type="button" value="Do you have any technical problem?"></a><br>
            </ul>
        {% endif %}
    </div>
{% endblock %}



