{% extends "Base.html" %}

{% block content%}
    <div class="content">
        {% if user.is_authenticated %}
            <li style="font-weight: bold">You are already Logged in. You can change your password in your <a href="{% url 'profile' %}">profile</a>.</li>
        {% else %}
        <form id="forgotForm">
            {% csrf_token %}
            <h1> Reset your password</h1>
            <div class="textContent">
                <label for="emailText"> Email</label><br>
                <span class="effectWrapper">
                    <input id="emailText" type="email" name="email" required>
                    <span class="focus-border"></span>
                </span>
                <br><br><br>

                <label for="secQuestionText"> Security Question</label><br>

                <select id="secQuestionText" name="secQuestion" required>
                    <option value="What is your security phrase?">What is your security phrase?</option>
                    <option value="Who was your favorite childhood hero?">Who was your favorite childhood hero?</option>
                    <option value="Who was your first kiss?">Who was your first kiss?</option>
                    <option value="Where were you when you had your first kiss?">Where were you when you had your first kiss?</option>
                </select>

                <br><br><br>

                <label for="secAnswerText"> Your Answer</label><br>
                <span class="effectWrapper">
                    <input type="text" id="secAnswerText" name="secAnswer"  pattern=".{,100}" required>
                    <span class="focus-border"></span>
                </span>

                <br><br><br><br>

                <button id="recoverPass" type="submit" name="sendCode">Send a new password</button><br><br><br>
            </div>
        </form>
        {% endif %}
    </div>

    <div class="rightbar">
        <h3>Related Links</h3>
        <ul>
            <a href="{% url 'login' %}"><input type="button" value="Log in"></a><br>
            <a href="{% url 'register' %}"><input type="button" value="Not a member yet?"></a><br>
            <a href="{% url 'forgot' %}"><input type="button" value="Forgot your password?"></a><br>
            <a href="{% url 'verifyAccount' %}"><input type="button" value="Registered but not verified your email?"></a><br>
            <a href="{% url 'contact' %}"><input type="button" value="Do you have any technical problem?"></a><br>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
<!------------------------------------------------------------------------------------->
        <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<!------------------------------------------------------------------------------------->
        <script>
            document.getElementById('forgotForm').addEventListener('submit', function(event) {
                event.preventDefault();

                $('#recoverPass').attr("disabled", true);
                $('#recoverPass').html('Sending ...');

                $.ajax({
                  type: "POST",
                  url:  '/ajax/changePassword/',
                  data: {
                      email:  $('#emailText').val(),
                      secQuestion: $('#secQuestionText').val(),
                      secAnswer: $('#secAnswerText').val(),
                      csrfmiddlewaretoken: '{{ csrf_token }}',
                  },
                  dataType: 'json',

                  success: function (data) {
                      $('#recoverPass').attr('disabled', false);
                      $('#recoverPass').html('Send a new password');

                      if(data.msg == "Success"){
                            alert('Your new password is sent to your email')
                      }else{
                          alert(data.msg)
                      }
                  }
                });
            });
        </script>
{% endblock %}



