{% extends "Base.html" %}

{% block content%}
    <div class="content">
        {% if msgs %}
            {% for msg in msgs %}
                <li style="font-weight: bold">{{ msg }}</li>
            {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
            <li style="font-weight: bold">You are already Logged in.</li>
        {% else %}
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <h1> Log in </h1>
                <div class="textContent">

                    <label> Username</label><br>

                    <span class="effectWrapper">
                        <input type="text" name="username">
                        <span class="focus-border"></span>
                    </span>

                    <br><br><br>

                    <span  class="effectWrapper">
                        <label> Password</label><br>
                        <input type="password" name="password">
                        <span class="focus-border"></span>
                    </span>

                    <br><br><br><br>
                    <button type="submit">Log in</button><br><br><br><br>
                </div>
            </form>
        {% endif %}
    </div>

    <div class="rightbar">
        <h3>Related Links</h3>
        <div class="textContent">
            <li><a href="{% url 'login' %}">Log in</a><br></li>
            <li><a href="{% url 'register' %}">Not a member yet?</a><br></li>
            <li><a href="{% url 'forgot' %}">Forgot your password?</a><br></li>
            <li><a href="{% url 'verifyAccount' %}">Registered but not verified your email?</a><br></li>
            <li><a href="{% url 'contact' %}">Do you have any technical problem?</a><br></li>
        </div>

        <br>

        <h3>Warnings</h3>
        <div class="textContent">
            <li>Username is case-sensitive</li>
        </div>
    </div>
{% endblock %}



