{% extends "Base.html" %}

{% block content%}
    <div class="content">
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}"><img class="profilePic" src={{ user.profile.picture }}></a>

            <br>

            {% if msgs %}
                {% for msg in msgs %}
                    <li style="font-weight: bold">{{ msg }}</li>
                {% endfor %}
                <br><br>
            {% endif %}

             <br><br>
            {% if notificaations %}
                {% for notification in notificaations %}
                    <span id="{{ notification.pk }}">
                        <input type="image" src="/static/images/Delete.png" onclick="return deleteNotification({{ notification.pk }})" style="float: right" width="25" height="25">
                        <u><b>{{ notification.time|time:'H:i'}} - {{ notification.time|date:'d M Y'}}</b></u>

                        {% if not notification.seen %}
                            <p class="textContentHighlighted">
                        {% else %}
                            <p class="textContent">
                        {% endif %}

                        {% if notification.type == "Comment" %}
                            <a href="{% url 'index' %}?customUser={{ notification.publisher }}">{{ notification.publisher }}</a>
                            just commented on your video:
                            <a href="{%  url 'playVideo' %}?videoPK={{ notification.itemID }}">{{ notification.text }}</a>
                        {% endif %}

                        {% if notification.type == "User Video Upload" %}
                            <a href="{% url 'index' %}?customUser={{ notification.publisher }}">{{ notification.publisher }}</a>
                            just uploaded a video:
                            <a href="{%  url 'playVideo' %}?videoPK={{ notification.itemID }}">{{ notification.text }}</a>
                        {% endif %}

                        {% if notification.type == "Journal Video Upload" %}
                            A video is just uploaded in
                            <a href="{% url 'index' %}?customCategory={{ notification.publisher }}">{{ notification.publisher }}</a>
                            :
                            <a href="{%  url 'playVideo' %}?videoPK={{ notification.itemID }}">{{ notification.text }}</a>
                        {% endif %}

                        {% if notification.type == "Focus Video Upload" %}
                            A video is just uploaded with focus in
                            <a href="{% url 'index' %}?customCategory={{ notification.publisher }}">{{ notification.publisher }}</a>
                            :
                            <a href="{%  url 'playVideo' %}?videoPK={{ notification.itemID }}">{{ notification.text }}</a>
                        {% endif %}

                        {% if notification.type == "Topic Video Upload" %}
                            A video is just uploaded with
                            <a href="{% url 'index' %}?customCategory={{ notification.publisher }}">{{ notification.publisher }}</a>
                            topic:
                            <a href="{%  url 'playVideo' %}?videoPK={{ notification.itemID }}">{{ notification.text }}</a>
                        {% endif %}

                        {% if notification.type == "Author Video Upload" %}
                            A video is just uploaded from
                            <a href="{% url 'index' %}?customCategory={{ notification.publisher }}">{{ notification.publisher }}</a>
                            author:
                            <a href="{%  url 'playVideo' %}?videoPK={{ notification.itemID }}">{{ notification.text }}</a>
                        {% endif %}

                        {% if notification.type == "User Follow" %}
                            <a href="{% url 'index' %}?customUser={{ notification.publisher }}">{{ notification.publisher }}</a>
                            just started to follow you.
                        {% endif %}
                        </p>

                        <br>
                    </span>
                {% endfor %}
            {% endif %}
        {% else %}
            <span style="font-weight: bold">You are not logged in yet. Please <a href="{% url 'login' %}"> Log in </a> first.</span>
        {% endif %}
    </div>

    <div class="rightbar">
        {% if user.is_authenticated %}
            <h3>User Statistics</h3>
            <div class="textContent">
                <label>Member since</label><label style="float: right">{{ user.profile.joinDateTime|date:'d M Y' }}</label><br>
                <hr>
                <label>Uploaded Videos</label> <label style="float: right">{{ user.profile.nVideos }}</label><br>
                <label>Made Comments</label> <label style="float: right">{{ user.profile.nComments }}</label><br>
                <label>Watched Videos</label><label style="float: right"> {{ user.profile.nWatchedVideos}}</label><br>
            </div>

            <h3>Upvotes</h3>
            <div class="textContent">
                <label>Upvotes Received for Videos</label> <label style="float: right">{{ user.profile.nVideoUpVotesReceived }}</label> <br>
                <label>Upvotes Received for Comments</label><label style="float: right">{{ user.profile.nCommentUpVotesReceived }}</label> <br>
            </div>

            <h3>Followings</h3>
            <div class="textContent">
                <label>Followers</label><label style="float: right">{{ user.profile.nFollowers }}</label> <br>
                <label>Followees</label><label style="float: right"> {{ user.profile.nFollowees }}</label><br>
            </div>
        {% else %}
            <h3>Related Links</h3>
            <ul>
                <a href="{% url 'login' %}"><input type="button" value="Log in"></a><br>
                <a href="{% url 'register' %}"><input type="button" value="Not a member yet?"></a><br>
                <a href="{% url 'forgot' %}"><input type="button" value="Forgot your password?"></a><br>
                <a href="{% url 'verifyAccount' %}"><input type="button" value="Registered but not verified your email?"></a><br>
                <a href="{% url 'contact' %}"><input type="button" value="Do you have any technical problem?"></a><br>
            </ul>
        {% endif %}
    </div>


{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function(){
            $.ajax({
                type: "GET",
                url:  '/ajax/clearNotifications/',
                data: {},
                dataType: 'json',

                success: function (data) {
                  if(data.msg === "Success"){

                  }else{
                      alert(data.msg)
                  }
                }
            });
        });
    </script>

    <script>
        function deleteNotification(notificationPK)
        {
            document.getElementById(notificationPK).remove();
            $.ajax({
              type: "GET",
              url:  '/ajax/deleteNotification',
              data: {'notificationPK': notificationPK },
              dataType: 'json',

              success: function (data) {}
            });
        }
    </script>
{% endblock %}
