{% extends "Base.html" %}

{% block content%}

    <div class="content">


        {% if user.is_authenticated %}

            <div class="profile-info">
                <a href="{% url 'profile' %}">
                    <input type="image" src={{ user.profile.picture }}>
                     {{ user.username }}
                </a>
            </div>

            <br>
            {% if msgs %}
                {% for msg in msgs %}
                    <li style="font-weight: bold">{{ msg }}</li>
                {% endfor %}
                <br><br>
            {% endif %}

             <br><br>
            {% if notificaations %}
                {% for notification in notificaations %}

                        <span id="{{ notification.pk }}">
                            <input type="image" src="/static/images/Delete.png"
                                   onclick="return deleteNotification({{ notification.pk }})"
                                   style="float: right" width="25" height="25">

                            <u><b>{{ notification.time|time:'H:i'}} - {{ notification.time|date:'d M Y'}}</b></u>
                         {% if not notification.seen %}
                             <p class="textContentHighlighted">
                         {% else %}
                             <p class="textContent">
                         {% endif %}

                                {% if notification.type == "User Video Upload" %}
                                    <a href="{% url 'index' %}?customUser={{ notification.publisher }}">{{ notification.publisher }}</a>
                                    just uploaded a video:
                                    <a href="{%  url 'playVideo' %}?videoPK={{ notification.itemID }}">{{ notification.text }}</a>
                                {% endif %}

                                {% if notification.type == "Journal Video Upload" %}
                                    A video is just uploaded in
                                    <a href="{% url 'index' %}?customCategory={{ notification.publisher }}">{{ notification.publisher }}</a>
                                    :
                                    <a href="{%  url 'playVideo' %}?videoPK={{ notification.itemID }}">{{ notification.text }}</a>
                                {% endif %}

                                {% if notification.type == "Focus Video Upload" %}
                                    A video is just uploaded with focus in
                                    <a href="{% url 'index' %}?customCategory={{ notification.publisher }}">{{ notification.publisher }}</a>
                                    :
                                    <a href="{%  url 'playVideo' %}?videoPK={{ notification.itemID }}">{{ notification.text }}</a>
                                {% endif %}

                                {% if notification.type == "Topic Video Upload" %}
                                    A video is just uploaded with
                                    <a href="{% url 'index' %}?customCategory={{ notification.publisher }}">{{ notification.publisher }}</a>
                                    topic:
                                    <a href="{%  url 'playVideo' %}?videoPK={{ notification.itemID }}">{{ notification.text }}</a>
                                {% endif %}

                                {% if notification.type == "Author Video Upload" %}
                                    A video is just uploaded from
                                    <a href="{% url 'index' %}?customCategory={{ notification.publisher }}">{{ notification.publisher }}</a>
                                    author:
                                    <a href="{%  url 'playVideo' %}?videoPK={{ notification.itemID }}">{{ notification.text }}</a>
                                {% endif %}

                                {% if notification.type == "User Follow" %}
                                    <a href="{% url 'index' %}?customUser={{ notification.publisher }}">{{ notification.publisher }}</a>
                                    just started to follow you.
                                {% endif %}
                            </p>
                            <br>
                        </span>
                {% endfor %}
            {% endif %}

        {% else %}
            <span style="font-weight: bold">You are not logged in yet. Please <a href="{% url 'login' %}"> Log in </a> first.</span>
        {% endif %}
    </div>

    <div class="rightbar">
        {% if user.is_authenticated %}
            <span style="font-weight: bold">User Statistics:</span>
            <div class="textContent">
                <span style="font-weight: bold">Member since:</span><span style="float: right">{{ user.profile.joinDateTime|date:'d M Y' }}</span><br>

                <span style="font-weight: bold">Uploaded videos:</span> <span style="float: right">{{ user.profile.nVideos }}</span><br>
                <span style="font-weight: bold">Made Comments:</span> <span style="float: right">{{ user.profile.nComments }}</span><br>

                <span style="font-weight: bold">Video upvotes received:</span> <span style="float: right">{{ user.profile.nVideoUpVotesReceived }}</span> <br>
                <span style="font-weight: bold">Comment upvotes received:</span><span style="float: right">{{ user.profile.nCommentUpVotesReceived }}</span> <br>

                <span style="font-weight: bold">Watched videos:</span><span style="float: right"> {{ user.profile.nWatchedVideos}}</span><br>

                <span style="font-weight: bold">Followers:</span><span style="float: right">{{ user.profile.nFollowers }}</span> <br>
                <span style="font-weight: bold">Followees:</span><span style="float: right"> {{ user.profile.nFollowees }}</span><br>
            </div>
        {% else %}
            <span style="font-weight: bold">Related Links:</span>
            <div class="textContent">
                <li>
                    <a href="{% url 'register' %}">Not a member yet?</a>
                    <br>
                </li>

                <li>
                    <a href="{% url 'forgot' %}">Forgot your password?</a>
                    <br>
                </li>

                <li>
                    <a href="{% url 'verifyAccount' %}">Registered but not verified your email?</a>
                    <br>
                </li>

                <li>
                    <a href="{% url 'contact' %}">Do you have any technical problem?</a>
                    <br>
                </li>
            </div>
        {% endif %}
    </div>


{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $.ajax({
                type: "GET",
                url:  '/ajax/clearNotifications/',
                data: {},
                dataType: 'json',

                success: function (data) {
                  if(data.msg === "Success"){

                  }else{
                      alert(data.msg)
                  }
                }
            });
        });
    </script>


    <script>
        function deleteNotification(notificationPK)
        {

            document.getElementById(notificationPK).remove();

            $.ajax({
              type: "GET",
              url:  '/ajax/deleteNotification',
              data: {'notificationPK': notificationPK },
              dataType: 'json',

              success: function (data) {}
            });
        }
    </script>

{% endblock %}
