{% extends "Base.html" %}

{% block content%}
    <div class="content">
        {% if user.is_authenticated %}
            <li style="font-weight: bold">You are already registered.</li>
        {% else %}
            <h1>Registration</h1>
            <form id="registrationForm">
                {% csrf_token %}
                <div class="textContent">
                    <p id="formContent">
                        <label for="usernameText">Username</label><br>
                        <span class="effectWrapper">
                            <input type="text" id="usernameText" name="username" placeholder="4 Characters at least; username is case-sensitive" required pattern=".{4,100}">
                            <span class="focus-border"></span>
                        </span>
                        <br><br><br>

                        <label for="emailText"> Email</label><br>
                        <span class="effectWrapper">
                            <input type="email" id="emailText" placeholder="Your email will be used for verification" name="email" pattern=".{,100}" required>
                            <span class="focus-border"></span>
                        </span>
                        <br><br><br>


                        <label for="secQuestionText"> Security Question</label><br>
                        <select name="secQuestion" required>
                            <option value="What is your security phrase?">What is your security phrase?</option>
                            <option value="Who was your favorite childhood hero?">Who was your favorite childhood hero?</option>
                            <option value="Who was your first kiss?">Who was your first kiss?</option>
                            <option value="Where were you when you had your first kiss?">Where were you when you had your first kiss?</option>
                        </select>

                        <br><br><br>

                        <label for="secAnswerText"> Your Answer</label><br>
                        <span class="effectWrapper">
                            <input type="text" id="secAnswerText" name="secAnswer" pattern=".{,100}" required>
                            <span class="focus-border"></span>
                        </span>
                        <br><br><br>

                        <label for="passwordText">Password</label><br>
                        <span class="effectWrapper">
                            <input type="password" id="passwordText" name="password"
                               placeholder="4 Characters at least (Should include at least 1 upper-case letter, 1 lower case, and 1 number)" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{4,}$">

                            <span class="focus-border"></span>
                        </span>


                    <br>
                        <p class="g-recaptcha" data-sitekey="6LdxtsUUAAAAABThyLECKr75gQLM5wJrxhLgilTY"></p><br><br>
                    </p>
                    <button type="submit" name="preRegister" id="registerBtn">Register</button><br><br><br>
                </div>
            </form>
        {% endif %}
    </div>

    <div class="rightbar">
        <h3>Related Links</h3>

        <ul>
            <a href="{% url 'login' %}"><input type="button" value="Log in"></a><br>
            <a href="{% url 'register' %}"><input type="button" value="Not a member yet?"></a><br>
            <a href="{% url 'forgot' %}"><input type="button" value="Forgot your password?"></a><br>
            <a href="{% url 'verifyAccount' %}"><input type="button" value="Registered but not verified your email?"></a><br>
            <a href="{% url 'contact' %}"><input type="button" value="Do you have any technical problem?"></a><br>
        </ul>

        <br>

        <h3>Notes</h3>
        <div class="textContent">
            <li>Verification code will expire in 5 minutes</li>
            <hr>
            <li>Username is case-sensitive</li>
            <li>Username should be at least 4 characters</li>
            <hr>
            <li>Password should be at least 4 characters</li>
            <li>Password should have at least 1 uppercase</li>
            <li>Password should have at least 1 lowercase</li>
            <li>Password should have at least 1 number</li>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<!------------------------------------------------------------------------------------->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<!------------------------------------------------------------------------------------->
    <script>
        document.getElementById('registrationForm').addEventListener('submit', function(event) {
            event.preventDefault();

            if (grecaptcha.getResponse() === '') {
              alert('Please check the recaptcha');
              return false;
            }

            if ($('#registerBtn').attr('name') === 'preRegister'){

                $('#registerBtn').attr('disabled', true);
                $('#registerBtn').html( 'Sending Verification Code...');

                $.ajax({
                    type: "POST",
                    url: '/ajax/preRegister/',
                    data: {
                         username: $('#usernameText').val(),
                         password: $('#passwordText').val(),
                         email: $('#emailText').val(),
                         secQuestion: $('#secQuestionText').val(),
                         secAnswer: $('#secAnswerText').val(),
                         recaptcha:grecaptcha.getResponse(),
                         csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    dataType: 'json',

                    success: function (data) {
                        if(data.msg == 'Success'){
                            $('#formContent').append("<h1> Verify your email</h1>"+
                                "<p> We sent a verification code to your email. Please verify your email using that code to complete your registration.</p>"+
                                "<label> Verification Code:</label>" +
                                "<br>" +
                                "<input type=\"text\"  id=\"verificationCode\" required>"
                            );

                            $('#registerBtn').attr('name', 'register');
                            $('#registerBtn').html( 'Verify');
                            $('#registerBtn').attr('disabled', false);

                            $('#usernameText').attr('disabled',true);
                            $('#emailText').attr('disabled',true);
                            $('#passwordText').attr('disabled',true);
                            $('#secAnswerText').attr('disabled', true);
                            $('#secQuestionText').attr('disabled', true);

                        }else{
                            $('#registerBtn').html( 'Register');
                            $('#registerBtn').attr('disabled', false);
                            alert(data.msg);
                        }

                    }
                });
            }else {
                $.ajax({
                    type: "POST",
                    url: '/ajax/postRegister/',
                    data: {
                         username: $('#usernameText').val(),
                         password: $('#passwordText').val(),
                         email: $('#emailText').val(),
                         code: $('#verificationCode').val(),
                         secQuestion: $('#secQuestionText').val(),
                         secAnswer: $('#secAnswerText').val(),
                         csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    dataType: 'json',

                    success: function (data) {
                        if(data.msg == 'Success'){
                            window.location.href = "/";
                        }else{
                             alert(data.msg)
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}




