{% extends "Base.html" %}

{% block head %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content%}
    <div class="content">
        {% if user.is_authenticated %}
            {% if video.isProcessed %}
                <h1>Edit Video</h1>
            {% else %}
                <h3>Video file is still being processed; wait a few minutes before editing.</h3>
            {% endif %}
            <form method="post" enctype="multipart/form-data" autocomplete="off" id="editVideoForm">
                {% csrf_token %}
                <div class="uploadForm">
                    <span>
                        <label> Title *</label><br>
                        <span class="effectWrapper">
                            <textarea rows="2" spellcheck="true" placeholder="Title " id="titleID" name="title" required>{{ video.title }}</textarea>
                            <span class="focus-border"></span>
                        </span>

                    </span>

                    <span>
                        <label> Description</label>
                        <span class="effectWrapper">
                            <textarea rows="2" spellcheck="true" placeholder="Description (optional)" id="descriptionID"
                                  name="description">{{ video.description }}</textarea>
                            <span class="focus-border"></span>
                        </span>
                    </span>

                    <span>
                        <br>
                        <label> Google Scholar Link</label>
                        <span class="effectWrapper">
                            <textarea rows="2" placeholder="Google Scholar Link (optional)" id="gsID" name="gs" ></textarea>
                            <span class="focus-border"></span>
                        </span>
                    </span>

                    <span>
                        <br>
                        <label> Article Link</label>
                        <span class="effectWrapper">
                            <textarea rows="2" placeholder="Article Link (optional)" id="linkID" name="link"></textarea>
                            <span class="focus-border"></span>
                        </span>
                    </span>

                    <span>
                        <br>
                        <label>Author *</label>
                        <span class="effectWrapper">
                            <input type="text" id="authorLastNameID" name="author"
                               placeholder="e.g. Gabriel García Márquez" list="authors" value="{{ video.author.title}}" required >
                            <span class="focus-border"></span>
                        </span>

                        <datalist id="authors">
                            {% for author in authors %}
                                <option value="{{ author.title }}" label="{{ author.nVideos}} videos">
                            {% endfor %}
                        </datalist>
                    </span>

                    <span>
                        <br>
                        <label> Year *</label><br>
                        <span class="effectWrapper">
                            <input type="number" id="yearID" name="year" placeholder="e.g. 1999" value="{{ video.year }}" required>
                            <span class="focus-border"></span>
                        </span>
                    </span>

                    <span>
                        <br>
                        <label> Journal *</label>
                        <span class="effectWrapper">
                            <input type="text" id="journalID" name="journal" placeholder="e.g. Nature, PNAS, Journal of Physiology, ..." list="journals"
                              value="{{ video.journal.title }}" required >
                            <span class="focus-border"></span>
                        </span>
                        <datalist id="journals">
                            {% for journal in journals %}
                                <option value="{{ journal.title }}" label="{{ journal.nVideos}} videos">
                            {% endfor %}
                        </datalist>
                    </span>

                    <span>
                        <br>
                        <label> Topic *</label>
                        <span class="effectWrapper">
                            <input type="text" id="topicID" name="topic" placeholder="e.g. Neuroscience, Literature, Computer Science, Math, ..." list="topics"
                               value="{{ video.topic.title }}" required >
                            <span class="focus-border"></span>
                        </span>

                        <datalist id="topics">
                            {% for topic in topics %}
                                <option value="{{ topic.title }}" label="{{ topic.nVideos}} videos">
                            {% endfor %}
                        </datalist>
                    </span>

                    <span>
                        <br>
                        <label> Focus *</label>
                        <span class="effectWrapper">
                        <input type="text" id="focusID" name="focus"  placeholder="e.g. Method, Commentary, Simplified, Results, Figures ..." list="focuses"
                               value="{{ video.focus.title }}" required >
                            <span class="focus-border"></span>
                        </span>

                        <datalist id="focuses">
                            {% for focus in focuses %}<option value="{{ focus.title }}" label="{{ focus.nVideos}} videos">
                            {% endfor %}
                        </datalist>
                    </span>

                    <span>
                        <br>
                        <label> Select a Different Video</label>
                        <span class="effectWrapper">
                            <input type="file" id="videoID" name="videoFile" accept="video/*" >
                            <span class="focus-border"></span>
                        </span>
                         <br><br>
                    </span>

                    <br>

                    <span>
                        <br>
                        {% if video.isProcessed %}
                            <button type="submit" id="saveBtn">Save</button>
                            <button  id="deleteBtn" class="dangerButton" formnovalidate  onclick="return deleteVideo({{ video.pk }})"> Delete</button>
                        {% endif %}

                        <button  id="cancelBtn"  onclick="return cancelEdit()" > Cancel</button>
                    </span>
                    <br>
                </div>
            </form>
        {% else %}
            <p> You need to <a href="{% url 'login' %}">log in</a> (or <a href="{% url 'register' %}">sign up</a>, if you haven't yet)in order to upload a video</p>
        {% endif %}
    </div>

    <div class="rightbar">
        <h3>Upload Instructions</h3>
        <h4>Author</h4>
        <p class="textContent">
            Please provide only full name of the first author in the article. For example,
            if there are more than one author and the first author is "Gabriel García Márquez",
            type only "Gabriel García Márquez".
        </p>

        <h4>Journal, Topic, and Focus</h4>
        <p class="textContent">
            When you filling these items please pay attention to the statistics suggested in the dropdown panel in
            regard to number of video, and pick one that you believe is spelled correctly and has more videos.
            If you think it is not spelled correctly, or you can not find the one that you are looking for, type and
            create your own.
        </p>
    </div>
{% endblock %}


{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!------------------------------------------------------------------------------------->
    <script>
        document.getElementById('editVideoForm').addEventListener('submit', function(event) {
            if($('#videoID').get(0).files.length > 0){

                $('#saveBtn').attr('disabled', true);
                $('#cancelBtn').removeAttr('onclick');
                $('#deleteBtn').removeAttr('onclick');
                $('#cancelBtn').attr('disabled', true);
                $('#deleteBtn').attr('disabled', true);
                $('#saveBtn').html("Uploading <i class=\"fa fa-circle-o-notch fa-spin\" style=\"font-size:24px;color:lightgreen\"></i>");
            }
        });
    </script>
    <!------------------------------------------------------------------------------------->
    <script>
        function deleteVideo(videoPK)
        {
            $.ajax({
              type: "GET",
              url:  '/ajax/deleteVideo',
              data: {'videoPK': videoPK },
              dataType: 'json',

              success: function (data) {
                  if(data.msg == "Success"){
                      window.location.href = "/?content=My Videos";
                  }else{
                      alert(data.msg)
                  }
              }
            });
        }
    </script>
<!------------------------------------------------------------------------------------->
    <script>
        function cancelEdit() {window.location.href = "/?content=My Videos";}
    </script>
{% endblock %}





