{% extends "Base.html" %}

{% block head %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content%}
    <div class="content">
        {% if user.is_authenticated %}
            <h1>Edit Video</h1>
            <form method="post" enctype="multipart/form-data" autocomplete="off" id="editVideoForm">
                {% csrf_token %}
                <div class="textContent">
                    <label style="width: 49%"> Title *</label>
                    <label style="width: 49%"> Description</label>

                    <span class="effectWrapper" style="width: 49%">
                       <textarea rows="2" spellcheck="true" placeholder="Title " id="titleID" name="title" required>{{ video.title }}</textarea>
                        <span class="focus-border"></span>
                    </span>

                    <span class="effectWrapper" style="width: 49%">
                        <textarea rows="2" spellcheck="true" placeholder="Description (optional)" id="descriptionID" name="description">{{ video.description }}</textarea>
                        <span class="focus-border"></span>
                    </span>

                    <br><br><br><br><br><br>

                    <label style="width: 49%"> Google Scholar Link</label>
                    <label style="width: 49%"> Article Link</label>
                    <span class="effectWrapper" style="width: 49%">
                        <input type="url" placeholder="e.g. http://psitelly.com (optional)" id="gsID" name="gs" value="{{ video.gsLink }}">
                        <span class="focus-border"></span>
                    </span>

                    <span class="effectWrapper" style="width: 49%">
                        <input type="url" placeholder="e.g. http://psitelly.com (optional)" id="linkID" name="link" value="{{ video.pdfLink }}">
                        <span class="focus-border"></span>
                    </span>

                    <br><br><br><br><br><br>

                    <label style="width: 49%">Author *</label>
                    <label style="width: 49%"> Year *</label>
                    <span class="effectWrapper" style="width: 49%">
                        <input type="text" id="authorLastNameID" name="author" value="{{ video.author.title }}"
                               placeholder="Full name of first author e.g. Gabriel García Márquez" list="authors" required>
                        <span class="focus-border"></span>
                    </span>

                    <datalist id="authors">
                        {% for author in authors %}
                            <option value="{{ author.title }}" label="{{ author.nVideos}} videos">
                        {% endfor %}
                    </datalist>

                    <span class="effectWrapper" style="width: 49%">
                         <input type="number" id="yearID" name="year" placeholder="e.g. 2000" value="{{video.year}}" required>
                        <span class="focus-border"></span>
                    </span>

                    <br><br><br><br>

                    <label style="width: 49%"> Journal *</label>
                    <label style="width: 49%"> Topic *</label>
                    <span class="effectWrapper" style="width: 49%">
                        <input type="text" id="journalID" name="journal" value="{{ video.journal.title }}"
                               placeholder="e.g. Nature, PNAS, Journal of Physiology, ..." list="journals" required>
                        <span class="focus-border"></span>
                    </span>

                    <datalist id="journals">
                        {% for journal in journals %}
                            <option value="{{ journal.title }}" label=" {{ journal.nVideos}} videos">
                        {% endfor %}
                    </datalist>

                    <span class="effectWrapper" style="width: 49%">
                        <input type="text" id="topicID" name="topic" value="{{ video.topic.title }}"
                               placeholder="e.g. Neuroscience, Literature, Computer Science, Math, ..." list="topics" required>
                        <span class="focus-border"></span>
                    </span>

                    <datalist id="topics">
                        {% for topic in topics %}
                            <option value="{{ topic.title }}" label="{{ topic.nVideos}} videos">
                        {% endfor %}
                    </datalist>

                    <br><br><br><br>

                    <label style="width: 49%"> Focus *</label>
                    {% if video.isProcessed %}
                        <label style="width: 49%"> Pick a Different Video (Optional)</label>
                    {% else %}
                        <label style="width: 49%"> Video file is still being processed</label>
                    {% endif %}
                    <span class="effectWrapper" style="width: 49%">
                        <input type="text" id="focusID" name="focus" value="{{ video.focus.title}}"
                               placeholder="e.g. Methods, Commentary, Simplified, Results, Figures ..." list="focuses" required>
                        <span class="focus-border"></span>
                    </span>
                    <datalist id="focuses">
                        {% for focus in focuses %}
                            <option value="{{ focus.title }}" label="{{ focus.nVideos}} videos">
                        {% endfor %}
                    </datalist>



                    <span class="effectWrapper" style="width: 49%">
                        {% if video.isProcessed %}
                            <input type="file" id="videoID" name="videoFile"
                                   accept="video/*, video/x-ms-wmv, video/x-ms-asf,
                                    video/quicktime, video/x-quicktime, video/avi, video/ogg, video/msvideo,
                                    video/x-msvideo, video/mp4, video/x-m4v">
                        {% else %}
                            <input type="file" id="videoID" name="videoFile"
                                   accept="video/*, video/x-ms-wmv, video/x-ms-asf,
                                    video/quicktime, video/x-quicktime, video/avi, video/ogg, video/msvideo,
                                    video/x-msvideo, video/mp4, video/x-m4v" disabled >
                        {% endif %}
                        <span class="focus-border"></span>
                    </span>


                    <br><br><br><br><br>

                    <input name="videoPK" value="{{ video.pk }}" style="display: none">

                    <button type="submit" id="saveBtn" name="saveReq" value="{{ video.pk }}">Save</button>
                    <button  id="deleteBtn" class="dangerButton" formnovalidate  onclick="return deleteVideo({{ video.pk }})"> Delete</button>
                    <button  id="cancelBtn"  onclick="return cancelEdit()" > Cancel</button>

                    <br><br>
                </div>
            </form>
        {% else %}
            <p> You need to <a href="{% url 'login' %}">log in</a> (or <a href="{% url 'register' %}">sign up</a>, if you haven't yet)in order to upload a video</p>
        {% endif %}
    </div>

    <div class="rightbar">
        <h3>Notes</h3>
        <h4>Author</h4>
        <div class="textContent">
            Please provide only full name of the first author in the article. For example,
            if there are more than one author and the first author is "Gabriel García Márquez",
            type only "Gabriel García Márquez".
        </div>

        <h4>Journal, Topic, and Focus</h4>
        <div class="textContent">
            When you filling these items please pay attention to the statistics suggested in the dropdown panel in
            regard to number of video, and pick one that you believe is spelled correctly and has more videos.
            If you think it is not spelled correctly, or you can not find the one that you are looking for, type and
            create your own.
        </div>

        <h4>Duration</h4>
        <div class="textContent">
            Duration of the uploaded video should be more than 30 seconds and less than 15 minutes.
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <!------------------------------------------------------------------------------------->
    <script>
        document.getElementById('editVideoForm').addEventListener('submit', function(event) {
            if($('#videoID').get(0).files.length > 0){

                $('#saveBtn').attr('disabled', true);
                $('#cancelBtn').removeAttr('onclick');
                $('#deleteBtn').removeAttr('onclick');
                $('#cancelBtn').attr('disabled', true);
                $('#deleteBtn').attr('disabled', true);
                $('#saveBtn').html("Uploading <i class=\"fa fa-circle-o-notch fa-spin\" style=\"font-size:24px;color:lightgreen\"></i>");
            }
        });
    </script>
    <!------------------------------------------------------------------------------------->
    <script>
        function deleteVideo(videoPK)
        {
            $.ajax({
              type: "GET",
              url:  '/ajax/deleteVideo',
              data: {'videoPK': videoPK },
              dataType: 'json',

              success: function (data) {
                  if(data.msg == "Success"){
                      window.location.href = "/?content=My Videos";
                  }else{
                      alert(data.msg)
                  }
              }
            });
        }
    </script>
<!------------------------------------------------------------------------------------->
    <script>
        function cancelEdit() {window.location.href = "/?content=My Videos";}
    </script>
{% endblock %}





