{% extends "Base.html" %}

{% block head %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content%}
    <div class="content">
        {% if user.is_authenticated %}
            <h1>Video Uploader</h1>
            <form method="post" enctype="multipart/form-data" autocomplete="off" id="uploadForm">
                {% csrf_token %}
                <div class="uploadForm">
                    <span>
                        <label> Title *</label><br>
                        <span class="effectWrapper">
                           <textarea rows="2" spellcheck="true" placeholder="Title " id="titleID" name="title" required></textarea>
                            <span class="focus-border"></span>
                        </span>
                        <br><br>
                    </span>

                    <span>
                        <label> Description</label>
                        <span class="effectWrapper">
                            <textarea rows="2" spellcheck="true" placeholder="Description (optional)" id="descriptionID" name="description"></textarea>
                            <span class="focus-border"></span>
                        </span>
                        <br><br>
                    </span>

                    <span>
                        <br>
                        <label> Google Scholar Link</label>
                        <span class="effectWrapper">
                            <textarea rows="2" placeholder="Google Scholar Link (optional)" id="gsID" name="gs"></textarea>
                            <span class="focus-border"></span>
                        </span>
                        <br><br>
                    </span>

                    <span>
                        <br>
                        <label> Article Link</label>
                        <span class="effectWrapper">
                            <textarea rows="2" placeholder="Article Link (optional)" id="linkID" name="link"></textarea>
                            <span class="focus-border"></span>
                        </span>
                        <br><br>
                    </span>

                    <span>
                    <br>
                        <label>Author * </label>
                        <span class="effectWrapper">
                            <input type="text" id="authorLastNameID" name="author" placeholder="e.g. Gabriel García Márquez" list="authors" required>
                            <span class="focus-border"></span>
                        </span>

                        <datalist id="authors">
                            {% for author in authors %}
                                <option value="{{ author.title }}" label="{{ author.nVideos}} videos">
                            {% endfor %}
                        </datalist><br><br>
                    </span>

                    <span>
                        <br>
                        <label> Year *</label><br>
                        <span class="effectWrapper">
                             <input type="number" id="yearID" name="year" placeholder="e.g. 2000" value="2000" required>
                            <span class="focus-border"></span>
                        </span>
                       <br><br>
                    </span>

                    <span>
                        <br>
                        <label> Journal *</label>
                        <span class="effectWrapper">
                            <input type="text" id="journalID" name="journal" placeholder="e.g. Nature, PNAS, Journal of Physiology, ..." list="journals" required>
                            <span class="focus-border"></span>
                        </span>

                        <datalist id="journals">
                            {% for journal in journals %}
                                <option value="{{ journal.title }}" label=" {{ journal.nVideos}} videos">
                            {% endfor %}
                        </datalist><br><br>
                    </span>

                    <span>
                    <br>
                        <label> Topic *</label>
                        <span class="effectWrapper">
                            <input type="text" id="topicID" name="topic" placeholder="e.g. Neuroscience, Literature, Computer Science, Math, ..." list="topics" required>
                            <span class="focus-border"></span>
                        </span>

                        <datalist id="topics">
                            {% for topic in topics %}
                                <option value="{{ topic.title }}" label="{{ topic.nVideos}} videos">
                            {% endfor %}
                        </datalist><br><br>
                    </span>

                    <span>
                    <br>
                        <label> Focus *</label>
                        <span class="effectWrapper">
                            <input type="text" id="focusID" name="focus" placeholder="e.g. Method, Commentary, Simplified, Results, Figures ..." list="focuses" required>
                            <span class="focus-border"></span>
                        </span>
                        <datalist id="focuses">
                            {% for focus in focuses %}
                                <option value="{{ focus.title }}" label="{{ focus.nVideos}} videos">
                            {% endfor %}
                        </datalist><br><br>
                    </span>

                    <span>
                        <br>
                        <label> Select a Video * </label>
                            <span class="effectWrapper">
                                <input type="file" id="videoID" name="videoFile"
                                       accept="video/*, video/x-ms-wmv, video/x-ms-asf,
                                        video/quicktime, video/x-quicktime, video/avi, video/ogg, video/msvideo,
                                        video/x-msvideo, video/mp4, video/x-m4v"  required>
                            <span class="focus-border"></span>
                        </span>
                        <br><br>
                    </span>

                    <br>

                    <span>
                        <br>
                        <button type="submit" id="uploadBtn">Upload</button>
                        <br><br>
                    </span>
                </div>
            </form>
        {% else %}
            <p> You need to <a href="{% url 'login' %}">log in</a> (or <a href="{% url 'register' %}">sign up</a>, if you haven't yet)in order to upload a video</p>
        {% endif %}
    </div>

    <div class="rightbar">
        <h3>Notes</h3>

        <h4>Author</h4>
        <div class="textContent">
            Please provide only full name of the first author in the article. For example,
            if there are more than one author and the first author is "Gabriel García Márquez",
            type only "Gabriel García Márquez".
        </div>

        <h4>Journal, Topic, and Focus</h4>
        <div class="textContent">
            When you filling these items please pay attention to the statistics suggested in the dropdown panel
            in regard to number of video, and pick one that you believe is spelled correctly and has more videos.
            If you think it is not spelled correctly, or you can not find the one that you are looking for,
            type and create your own.
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    document.getElementById('uploadForm').addEventListener('submit', function(event) {
            if($('#titleID').val() !== "" &&
               $('#authorLastNameID').val() !== "" &&
               $('#journalID').val() !== "" &&
               $('#topicID').val() !== "" &&
               $('#focusID').val() !== "" &&
               $('#videoID').get(0).files.length > 0
            ){
                $('#uploadBtn').attr('disabled', true);
                $('#uploadBtn').html("Uploading <i class=\"fa fa-circle-o-notch fa-spin\" style=\"font-size:24px;color:lightgreen\"></i>");
            }
    });
    </script>
{% endblock %}






