:root{
    --optionsIconWidth: 60px;
    --optionsIconHeight: 60px;

    --logoIconWidth: 260px;
    --logoIconHeight: 60px;

    --backgroundColor1: gray;
    --backgroundColor2: #b8c3cd;
    --backgroundColor3: white;
    --backgroundColor4: green;
    --backgroundColor5: black ;
    --backgroundColor6: #787878;

    --animationTime: .6s;

    --font1: "noto-serif";
    --fontSize1: 14px;
    --fontSize2: 16px;
    --fontSize3: 18px;
    --fontSize4: 20px;

    --border-radius1: 5px;
    --border-radius2: 10px;

    --fixed-hieght1: 95px;
    --fixed-hieght2: 100px;

    --top-offset: 100px;
    --top-offset1: 300px ;
}

@font-face {
  font-family: 'noto-serif';
  src: url('/static/fonts/NotoSerif-Light.ttf')  format("truetype"),
       local('noto-serif');
}

*{
    box-sizing: border-box;
	outline: none;
    font-family: var(--font1);
}

*::-webkit-scrollbar { width: 0 !important}


::placeholder {
    color: #505050;
    opacity: 1;
    text-overflow: ellipsis !important;
}

:-ms-input-placeholder {
    color: #505050;
}

::-ms-input-placeholder {
    color: #505050;
}

a {
    text-decoration: none;
}

body{
    background: var(--backgroundColor6);
    margin: 0;
}

button::-moz-focus-inner {border: 0;}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: initial;
}

h4{
    font-size: 14px;
}

h3{
    font-size: 16px;
}

h2{
    font-size: 18px;
}
h1{
    font-size: 20px;
}
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
.nav-item-wrapper{
    background-color: var(--backgroundColor2);
    border-radius: var(--border-radius2);
    padding: 10px;
    height: 80px;
}
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
.search{
    grid-area: search;
}
.search input{
    font-size: var(--fontSize3);
    border-radius: var(--border-radius1);
    padding: 1em;

    background-color: white;
    border: none;
    border-bottom: 2px solid var(--backgroundColor5);
    height: 100%;
    width: 100%;
}

.logo{
    grid-area: logo;
}

.logo-compact{
    grid-area: logo-compact;
    display: none;
}

.dashboard-compact{
    grid-area: dashboard-compact;
    display: none;
}

.filter{
    grid-area: filter;
}

.upload{
    grid-area: upload;
}

.donate{
    grid-area: donate;
}

.profile{
    grid-area: profile;
}

.logo, .search, .filter, .upload, .donate, .profile, .logo-compact, .dashboard-compact{
    background-color: var(--backgroundColor6);
    height: var(--fixed-hieght1);
    border-bottom: 2px solid black;
    padding: 5px;
    text-align: center;
}

.logo img{
    width: var(--logoIconWidth);
    height: var(--logoIconHeight);
}

.logo-compact img{
    width: 100px;
    height: 60px;
}

.filter img, .profile img, .upload img, .donate img{
    width: var(--optionsIconWidth);
    height: var(--optionsIconHeight);
    border-radius: 50%;
}

.dashboard-compact img{
    width: var(--optionsIconWidth);
    height: var(--optionsIconHeight);
    border-radius: 10%;
}

.dashboard-compact-small{
    width: 60px;
    height: 31px;
    border-radius: 5px;
    margin-right: 10px;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
.sidebar {
    grid-area: sidebar;
    overflow-y: scroll;
    border-right: 2px solid black;
    padding: 5px;
}

.rightbar{
    grid-area: rightbar;
    overflow-y: scroll;
    border-left: 2px solid black;
    padding: 5px;
}

.sidebar, .rightbar{
    background-color: var(--backgroundColor6);
    padding-top: var(--top-offset) !important;
}

.sidebar ul, .rightbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar input, .rightbar input{
    border-radius: var(--border-radius1);
    padding: 8px;
    margin-bottom: 8px;
    background-color: var(--backgroundColor2);
    border: none;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: left;
    font-size: var(--fontSize1);
}

.sidebar input:hover, .rightbar input:hover {
    background-color: green;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
.content {
    grid-area: content;
    background-color: var(--backgroundColor1);
    overflow-y: scroll;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: var(--top-offset) !important;
}

.textContent{
    border-radius: var(--border-radius1);
    padding: 10px !important;
    margin-bottom: 8px;
    background-color: var(--backgroundColor2);
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: justify;
    text-justify: inter-word;
    font-size: var(--fontSize1);
}

.textContentHighlighted{
    border-radius: var(--border-radius1);
    padding: 10px !important;
    margin-bottom: 10px;
    background-color: var(--backgroundColor4);
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: justify;
    text-justify: inter-word;
    font-size: var(--fontSize1);
}
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
.profile-gallery {
    background-color: var(--backgroundColor2);
    display: grid;
    grid-gap: 10px;

    border-radius: var(--border-radius1);
    grid-template-columns: repeat(12,160px);

    overflow-x: scroll;
    scroll-snap-type: x proximity;
}

.profile-item{
    position: relative;
    text-align: center;
}

.profile-item label{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    width: 150px;
}

.profile-item img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profile-picture{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.notification-picture{
    float: right;
    width: 75px;
    height: 75px;
}
/********************************************************************************/
/********************************************************************************/
.profile-info{
    background-color: var(--backgroundColor2);
    border-radius: var(--border-radius1);
}

.profile-info label{
    font-weight: bold;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.profile-info img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-info input{
    width: 75px;
    height: 75px;
    float:right;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

.profile-container{
    position: relative;
    width: 150px;
    height: 150px;
}

.profile-container img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.profile-container input{
    position: absolute;
    top: 72%;
    left: 72%;
    width: 30%;
    height: 30%;
}
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
.video-gallery {
    background-color: var(--backgroundColor2);
    display: grid;
    grid-gap: 10px;
    border-radius: var(--border-radius1);

    grid-template-columns: repeat(12, minmax(350px,1fr));

    overflow-x: scroll;
    scroll-snap-type: x proximity;
}

.side-video-gallery {
    background-color: var(--backgroundColor2);
    display: grid;
    grid-gap: 10px;
    border-radius: var(--border-radius1);

    grid-template-columns: repeat(auto-fill, minmax(330px,1fr));
}

.video-item-info img{
    height: 27px;
    width: 27px;
    padding: 2px;
    border-radius: 50%;
    vertical-align: middle;
}

.video-item-info label{
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 95%;
    font-weight: bold;
    margin-left: 8px;
}

.video-item{
    position: relative;
    width: 100%;
}

#thumbnailImage {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 220px;
    border-radius: 5px;
    margin-bottom: 0;
}

#duration {
    color: white;
    font-weight: bold;
    background-color: black;
    opacity: .5;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 10px;
    cursor: default;
}

#hitPlayImage{
    position: absolute;
    top: 73%;
    left:  80%;
    width: 10%;
    height: 13%;
}

.image-box{
    position: relative;
}

.image-box .hover-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.hover-box img{
    height: 15%;
    width: 15%;
    vertical-align: middle;
    padding: 1px;
}

.hover-box a{
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    width: 95%;

    text-shadow:
            0 0 10px var(--backgroundColor3),
            0 0 10px var(--backgroundColor3),
            0 0 10px var(--backgroundColor3),
            0 0 10px var(--backgroundColor3),
            0 0 10px var(--backgroundColor3),
            0 0 10px var(--backgroundColor3),
            0 0 10px var(--backgroundColor3);
}

.image-box:hover .hover-box {
    display: block;
}

.image-box:hover #thumbnailImage{
    opacity: .5;
}

.image-box:hover #hitPlayImage {
    top: 65%;
    left: 75%;
    width: 15%;
    height: 20%;
}
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
.video-info{
    background-color: var(--backgroundColor2);
    border-radius: 5px;
}

.video-info label{
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 49%;
}

.video-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
}
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
.comment-options img{
    height: 50px;
    width: 50px;
    padding: 5px;
    vertical-align: middle;
    border-radius: 50%;
}

.comment-options input{
    height: 40px;
    width: 40px;
    vertical-align: middle;
    padding: 5px;
    float: right;
}

.indentedComments{
    background-color: var(--backgroundColor2);
    margin-left: 30px;
    padding-left: 20px !important;
    border-radius: var(--border-radius2);
}
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
.textContent input:not([type="checkbox"]):not([type="radio"]), .textContent select{
    font-size: 14px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #787878;
    width: 90%;
    padding: 10px;
    margin-left: 2%;
}

.effectWrapper {
  float: left;
  width: 100%;
  position: relative;
}

.textContent input ~ .focus-border{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: black;
    transition: var(--animationTime);
}

.textContent input:focus ~ .focus-border{
    width: 90%;
    transition: var(--animationTime);
    left: 2%;
}

.textContent input:focus{
    border: none;
}

.textContent textarea ~ .focus-border, .comments textarea ~ .focus-border{
    position: absolute;
    bottom: 50%;
    left: 2%;
    width: 4px;
    height: 0;
    background-color: black;
    transition: var(--animationTime);
}

.textContent textarea:focus ~ .focus-border, .comments textarea:focus ~ .focus-border{
    bottom: 0;
    height:100%;
    transition: var(--animationTime);
}

.textContent textarea:focus, .comments textarea:focus {
    border: none;
}

.textContent textarea, .comments textarea {
    font-size: 14px;
    border: none;
    background-color: transparent;
    border-left: 1px solid #787878;
    width: 90%;
    padding: 1em;
    margin-left: 2%;
}

.textContent select option{
    background-color: var(--backgroundColor2);
    font-size: 14px;
    padding: 5px;
	border: none;
}

.textContent label{
    font-weight: bold ;
    float: left;
}

.textContent button, .comments button{
    font-size: 14px;
    float: right;
    margin-right: 1%;
    border-radius: 5px;

    border: solid;
    background-color: transparent;

    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    -webkit-transition-duration: var(--animationTime);
    transition-duration: var(--animationTime);
    cursor: pointer;
}

.textContent button:hover, .comments button:hover{
  background-color: var(--backgroundColor4);
}

#deleteBtn:hover{
    background-color: red;
}
#logoutBtn:hover{
    background-color: orange;
}
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
#chartdiv {
  width: 100%;
  height: 600px;
}

#about-div {
    display: grid;
    grid-template-columns: minmax(300px, 1100px) ;
    justify-content: center;
}
    

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
.navbar{
    position: fixed;
    width: 100%;
    height: 95px;
    z-index: 4;

    background-color: var(--backgroundColor6);

    display: grid;
    grid-template-columns: 3fr 12fr 1fr 1fr 1fr 1fr;

    grid-template-areas:
        "logo search filter upload  donate profile"
}
/********************************************************************************/
/********************************************************************************/
.main-wrapper div, .basic-wrapper div {
    padding: 5px;
}

.main-wrapper {
    background-color: black;
    display: grid;
    grid-template-columns: minmax(290px, 3fr) 16fr;
    grid-template-rows: 100vh;
    grid-template-areas:
        "sidebar content"
}

.basic-wrapper{
    background-color: black;
    display: grid;
    grid-template-columns: minmax(290px, 3fr) 12fr minmax(360px, 4fr) ;
    grid-template-rows: 100vh;
    grid-template-areas:
        "sidebar content rightbar"
}

@media only screen and (max-width: 1100px) {

    .dashboard-compact{
        display: inline;
    }
    .navbar{
        position: fixed;
        width: 100%;
        height: 190px;
        z-index: 4;

        background-color: var(--backgroundColor4);

        display: grid;
        grid-template-columns: 15fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 95px 95px;

        grid-template-areas:
            "logo filter upload donate profile"
            "search search search search dashboard-compact"
    }

    .content, .rightbar{
        padding-top: 10px !important;
    }
    .sidebar{
        padding-top: 183px !important;
    }

    .main-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:  auto minmax(100vh,1fr);
        grid-template-areas:
            "sidebar sidebar sidebar sidebar"
            "content content content content"
    }
    .basic-wrapper{
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto minmax(100vh,1fr) auto;
        grid-template-areas:
                "sidebar sidebar sidebar sidebar"
                "content content content content"
                "rightbar rightbar rightbar rightbar"
    }
    .sidebar{
        border-right: none;
        border-bottom: 2px solid black;
    }
    .rightbar{
        border-left: none;
        border-top: 2px solid black;
    }
}


@media only screen and (max-width: 650px) {
    .logo{
        display: none;
    }
    .logo-compact{
        display: inline;
    }
    .navbar{
        grid-template-areas:
            "logo-compact filter upload donate profile"
            "search search search search dashboard-compact"
    }
}







