<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <title>Psitelly</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="icon" href="/static/images/Logo.png">
        {% block head %}{% endblock %}
    </head>

    <body>
        <div class="navbar">
                <div class="logo">
                    <div class="nav-item-wrapper">
                        <a href="{% url 'index' %}">
                            <img src="/static/images/LogoText.png" alt="" data-toggle="tooltip" data-placement="right" title="Home">
                        </a>
                    </div>
                </div>

                <div class="logo-compact">
                    <div class="nav-item-wrapper">
                        <a href="{% url 'index' %}">
                            <img src="/static/images/Logo.png" alt="" data-toggle="tooltip" data-placement="right" title="Home">
                        </a>
                    </div>
                </div>

                <div class="search">
                    <div class="nav-item-wrapper">
                        <form method="GET" action="{% url 'index'%}">
                            <input type="text" placeholder="Search an author, article, journal, topic, focus, or a username " name="search">
                        </form>
                    </div>
                </div>

                <div class="dashboard-compact">
                    <div class="nav-item-wrapper">
                        <img src="/static/images/Filter-2.png" data-toggle="tooltip" data-placement="right" title="Dashboard"
                        onclick="showMenu()">
                    </div>
                </div>

                <div class="filter">
                    <div class="nav-item-wrapper">
                        <a href="{% url 'filter' %}">
                            <img src="/static/images/Filter.png" data-toggle="tooltip" data-placement="right" title="Advanced search">
                        </a>
                    </div>
                </div>

                <div class="upload">
                    <div class="nav-item-wrapper">
                         <a href="{% url 'upload' %}">
                            <img src="/static/images/Upload.png" data-toggle="tooltip" data-placement="right" title="Upload a video">
                        </a>
                    </div>
                </div>

                <div class="donate">
                    <div class="nav-item-wrapper">
                        <a href="{%  url 'donate' %}">
                            <img src="/static/images/Donation.png" data-toggle="tooltip" data-placement="right" title="Donation">
                        </a>
                    </div>
                </div>

                <div class="profile">
                    <div class="nav-item-wrapper">
                        {% if user.is_authenticated %}
                            <a href="{% url 'profile' %}">
                                <img src="{{ user.profile.picture }}" alt=" " data-toggle="tooltip" data-placement="right" title="Profile">
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}">
                                <img src="/static/images/Profile_.png" data-toggle="tooltip" data-placement="right" title="Not logged in">
                            </a>
                        {% endif %}
                    </div>
                </div>
        </div>

        {% if isIndex %}
            <div class="main-wrapper">
        {% else %}
            <div class="basic-wrapper">
        {% endif %}

                <div class="sidebar">
                    <h2 id="menuTitle" style="display: none">
                        <span>
                            Menu
                        </span>
                        <span style="float: right">
                            <a href="javascript:void(0);" onclick="showMenu()">☰</a>
                        </span>
                    </h2>

                    <span id="menu" style="display: inline">

                            <h3>Dashboard
                                <span id="dashboardExpand" style="float: right; display: none">
                                    <a href="javascript:void(0);" onclick="showDashboard()">
                                    <img src="/static/images/Filter-2.png" style="width: 25px; height: 25px; border-radius: 20%">
                                    </a>
                                </span>
                            </h3>


                        <span id="dashboard" style="display: inline">
                            {% if user.is_authenticated %}
                                <ul>
                                    <a href="{% url 'index' %}?content=My+Videos"><input type="button" value="My Videos"></a>
                                    <a href="{% url 'index' %}?content=Upvoted+Videos"><input type="button" value="Upvoted Videos"></a>
                                    <a href="{% url 'index' %}?content=Watch+History"><input type="button" value="Watch History"></a>
                                    <a href="{% url 'index' %}?content=Watch+Later"><input type="button" value="Watch Later"></a>
                                    <a href="{% url 'index' %}?content=Followers"><input type="button" value="Followers"></a>
                                    <a href="{% url 'index' %}?content=Following"><input type="button" value="Following"></a>
                                </ul>
                            {% else %}
                                <ul>
                                    <a href="{% url 'login' %}"><input type="button" value="Log in to access your dashboard"></a>
                                </ul>
                            {% endif %}
                        </span>

                        <h3>
                            Psitelly Links
                            <span id="linksExpand" style="float: right; display: none">
                                 <a href="javascript:void(0);" onclick="showLinks()">
                                <img src="/static/images/Filter-2.png" style="width: 25px; height: 25px; border-radius: 20%">
                                 </a>
                            </span>
                        </h3>

                        <span id="links" style="display: inline">
                            <ul>
                                <a href="{% url 'contact' %}"><input type="button" value="Contact us"></a>
                                <a href="https://docs.google.com/document/d/1oE5tIvAMCzvtnFtx9TPyZYs290lvojkHjHP8RB8vUZY/edit?usp=sharing"
                                   target="_blank"><input type="button" value="Quick guide for Psitelly (Google Doc)"></a>
                                <a href="https://docs.google.com/document/d/1zNpqcffpTIE_VGCgQxNOGh53qSKXRDfy4i8DurXdUI4/edit?usp=sharing"
                                   target="_blank"><input type="button" value="Quick guide for testers (Google Doc)"></a>
                            </ul>
                        </span>

                        {% if Statistics %}

                            <h3>
                                Psitelly Statistics
                                <span id="statsExpand" style="float: right; display: none">
                                    <a href="javascript:void(0);"  onclick="showStats()">
                                        <img src="/static/images/Filter-2.png" style="width: 25px; height: 25px; border-radius: 20%">
                                    </a>
                                </span>
                            </h3>

                            <span id="stats" style="display: inline">
                                <div class="textContent">
                                    <label>Members </label><label style="float: right">{{ usersCount }}</label><br>
                                    <label>Videos </label><label style="float: right">{{ videosCount }}</label><br>
                                    <hr>
                                    <label>Journals </label><label style="float: right">{{ journalCount }}</label><br>
                                    <label>Authors </label><label style="float: right">{{ authorCount }}</label><br>
                                    <hr>
                                    <label>Topics </label><label style="float: right">{{ topicCount }}</label><br>
                                    <label>Focuses </label><label style="float: right">{{ focusCount }}</label><br>
                                </div>
                            </span>
                        {% endif %}


                        {% if newses %}
                            <h3>
                                Recent News
                                <span id="newsExpand" style="float: right;display: none">
                                    <a href="javascript:void(0);" onclick="showNews()">
                                        <img src="/static/images/Filter-2.png" style="width: 25px; height: 25px; border-radius: 20%">
                                    </a>
                                </span>
                            </h3>


                            <span id="newss" style="display: inline">
                                {% for news in newses %}
                                    <div class="textContent">
                                        <label><u>{{ news.title }}</u></label><br><br>
                                        {{ news.text }}<br><hr>
                                        <label style="float: right">{{ news.time|time:'H:i'}} - {{ news.time|date:'d M Y'}}</label>
                                        <br>
                                    </div>
                                {% endfor %}
                            </span>
                        {% endif %}

                    </span>
                </div>

                <!--------------------------------->
                {% block content %}{% endblock %}
                <!--------------------------------->

            </div>
        <!--------------------------------->
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script>
        $(document).ready(function(){
            checkScreen();
            $(document).load($(window).bind("resize", checkScreen));
         });
        </script>

        <script>
            function checkScreen() {
                if (window.matchMedia('(max-width: 1100px)').matches) {
                    document.getElementById("menu").style.display = "none";

                    document.getElementById("dashboardExpand").style.display = "inline";
                    document.getElementById("linksExpand").style.display = "inline";
                    document.getElementById("statsExpand").style.display = "inline";
                    document.getElementById("newsExpand").style.display = "inline";

                    document.getElementById("dashboard").style.display = "none";
                    document.getElementById("links").style.display = "none";
                    document.getElementById("stats").style.display = "none";
                    document.getElementById("newss").style.display = "none";

                } else {

                    document.getElementById("dashboardExpand").style.display = "none";
                    document.getElementById("linksExpand").style.display = "none";
                    document.getElementById("statsExpand").style.display = "none";
                    document.getElementById("newsExpand").style.display = "none";

                    document.getElementById("dashboard").style.display = "inline";
                    document.getElementById("links").style.display = "inline";
                    document.getElementById("stats").style.display = "inline";
                    document.getElementById("newss").style.display = "inline";


                    document.getElementById("menu").style.display = "inline";
                }
            }
        </script>

        <script>
            function showMenu() {
                if($(document).scrollTop() === 0){
                    if (window.getComputedStyle(document.getElementById('menu')).display === "none") {
                        document.getElementById("menu").style.display = "inline";

                    } else {
                            document.getElementById("menu").style.display = "none";
                    }
                }else{
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    document.getElementById("menu").style.display = "inline";
                }
            }
        </script>

        <script>
        function showDashboard() {
            if (window.getComputedStyle(document.getElementById('dashboard')).display === "none") {
                document.getElementById("dashboard").style.display = "inline";
            } else {
                document.getElementById("dashboard").style.display = "none";
            }
        }
        </script>

        <script>
        function showLinks() {
            if (window.getComputedStyle(document.getElementById('links')).display === "none") {
                document.getElementById("links").style.display = "inline";
            } else {
                document.getElementById("links").style.display = "none";
            }
        }
        </script>

        <script>
        function showStats() {
            if (window.getComputedStyle(document.getElementById('stats')).display === "none") {
                document.getElementById("stats").style.display = "inline";
            } else {
                document.getElementById("stats").style.display = "none";
            }
        }
        </script>

        <script>
        function showNews() {
            if (window.getComputedStyle(document.getElementById('newss')).display === "none") {
                document.getElementById("newss").style.display = "inline";
            } else {
                document.getElementById("newss").style.display = "none";
            }
        }
        </script>

        {% block scripts %}{% endblock %}
        <!--------------------------------->
    </body>
</html>


