<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Psitelly</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="icon" href="/static/images/Logo.png">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% if isIndex %}
            <div class="main-wrapper">
        {% else %}
            <div class="basic-wrapper">
        {% endif %}
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="/static/images/LogoText.png" alt="" data-toggle="tooltip" data-placement="right" title="Home">
                    </a>
                </div>

                <div class="search-box">
                    <form method="GET" action="{% url 'index'%}">
                        <input type="text" placeholder="Search an author, article, journal, topic, focus, or a username " name="search">
                    </form>
                </div>

                <div class="filter">
                    <a href="{% url 'filter' %}">
                        <img src="/static/images/Filter.png" data-toggle="tooltip" data-placement="right" title="Advanced search">
                    </a>
                </div>

                <div class="upload">
                    <a href="{% url 'upload' %}">
                        <img src="/static/images/Upload.png" data-toggle="tooltip" data-placement="right" title="Upload a video">
                    </a>
                </div>

                <div class="donate">
                    <a href="{%  url 'donate' %}">
                        <img src="/static/images/Donation.png" data-toggle="tooltip" data-placement="right" title="Donation">
                    </a>
                </div>

                <div class="profile">
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}">
                            <img src="{{ user.profile.picture }}" alt=" " data-toggle="tooltip" data-placement="right" title="Profile">
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <img src="/static/images/Profile_.png" data-toggle="tooltip" data-placement="right" title="Not logged in">
                        </a>
                    {% endif %}
                </div>

                <div class="sidebar">
                    <h3>Dashboard</h3>
                    {% if user.is_authenticated %}
                        <ul>
                            <a href="{% url 'index' %}?content=My+Videos"><input type="button" value="My Videos"></a>
                            <a href="{% url 'index' %}?content=Upvoted+Videos"><input type="button" value="Upvoted Videos"></a>
                            <a href="{% url 'index' %}?content=Watch+History"><input type="button" value="Watch History"></a>
                            <a href="{% url 'index' %}?content=Watch+Later"><input type="button" value="Watch Later"></a>
                            <a href="{% url 'index' %}?content=Followers"><input type="button" value="Followers"></a>
                            <a href="{% url 'index' %}?content=Following"><input type="button" value="Following"></a>
                        </ul>
                    {% else %}
                        <ul>
                            <a href="{% url 'login' %}"><input type="button" value="Log in to access your dashboard"></a>
                        </ul>
                    {% endif %}

                    <h3>Psitelly Links</h3>
                    <ul>
                        <a href="{% url 'contact' %}"><input type="button" value="Contact us"></a>
                        <a href="https://docs.google.com/document/d/1oE5tIvAMCzvtnFtx9TPyZYs290lvojkHjHP8RB8vUZY/edit?usp=sharing"
                           target="_blank"><input type="button" value="Quick guide for Psitelly (Google Doc)"></a>
                        <a href="https://docs.google.com/document/d/1zNpqcffpTIE_VGCgQxNOGh53qSKXRDfy4i8DurXdUI4/edit?usp=sharing"
                           target="_blank"><input type="button" value="Quick guide for testers (Google Doc)"></a>
                    </ul>

                    {% if Statistics %}
                        <h3>Psitelly Statistics</h3>
                        <div class="textContent">
                            <label>Members </label><label style="float: right">{{ usersCount }}</label><br>
                            <label>Videos </label><label style="float: right">{{ videosCount }}</label><br>
                            <hr>
                            <label>Journals </label><label style="float: right">{{ journalCount }}</label><br>
                            <label>Authors </label><label style="float: right">{{ authorCount }}</label><br>
                            <hr>
                            <label>Topics </label><label style="float: right">{{ topicCount }}</label><br>
                            <label>Focuses </label><label style="float: right">{{ focusCount }}</label><br>
                        </div>
                    {% endif %}


                    {% if newses %}
                        <h3> Recent News</h3>
                        {% for news in newses %}
                                <div class="textContent">
                                    <label><u>{{ news.title }}</u></label><br><br>
                                    {{ news.text }}<br><hr>
                                    <label style="float: right">{{ news.time|time:'H:i'}} - {{ news.time|date:'d M Y'}}</label>
                                    <br>
                                </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <!--------------------------------->
                {% block content %}{% endblock %}
                <!--------------------------------->

                <div class="footer">
                    <span style="font-weight: bolder">
                        Powered by
                        <a href="https://www.linkedin.com/in/mahdishafiei0423/" target="_blank">Qiisziilbash</a> and
                        <a href="https://www.djangoproject.com/" target="_blank">Django</a> (February 2019) and hosted by
                        <a href="http://usu.edu" target="_blank">Utah State University</a>
                    </span>
                </div>
            </div>
        <!--------------------------------->
        <script>
            $(document).ready(function(){$('[data-toggle="tooltip"]').tooltip();});
        </script>
        {% block scripts %}{% endblock %}
        <!--------------------------------->
    </body>
</html>


